<div class="text-center result-panel" [hidden]="!visible">
  <div class="result-image">
    <img [src]="imageData" style="width:180px;height:300px;position: absolute; top: 6px;
    left: 6px;
    border-radius: 6px;" >
<img [src]="['/',game.thumbResult]">
<div *ngIf="result" class="result-text">{{result.score}}</div>
</div>
<div>
  <button class="btn btn-primary btn-social btn-danger" (click)="_continueGame()"><i class="ion-play"></i> Continue</button>
</div>
<div>
  <button class="btn btn-primary btn-social btn-facebook" [disabled]="shareDisable" (click)="shareFacebook()"><i class="ion-android-share-alt"></i> Share on Facebook</button>
</div>
<!--<button (click)="shareTwitter()">Share Twitter</button>-->
</div>