.game-section {
    text-align: center;
}

.show_first {
    width: 100%;
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    background: #FFCF56;
    padding-top: 1px;
}

.part01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    background-color: #3A539B;
    padding-top: 1px;
}

.panelBox {
    font-size: 40px;
    margin-top: 10px;
    color: #ffffff;
}

.total_game {
    width: 100%;

}

.ContentGame {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    height: 100%;
}

.gameBg {
    width: 100%;
    position: relative;
}

.question {
    padding: 40px 0;
    margin: 10px auto;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.25);
}
.des{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 23px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    z-index: 3;
}
.ans_right{
    font-size: 2em;
    background: #4CAF50!important;
    color: #fff!important;
    margin-right: 20px;
}
.ans_wrong{
    margin-left: 20px;
    font-size: 2em;
    background: #F44336!important;
    color: #fff!important;

}
.result {
    position: absolute;
    z-index: 3;
    top: 40%;
    right: 22%;
    font-size: 80px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.ContentGame>img{
    width: 100%;
}


.score {
    position: absolute;
    z-index: 3;
    top: 5%;
    right: 18%;
    font-size: 52px;
    font-weight: bold;
    color: #fff;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (max-width: 959px) {
    .question {
        font-size: 45px;
    }
    .panelBox{
        font-size: 30px;
    }
    .result {
        top: 35%;
        right: 20.5%;
        font-size: 10vw;
    }
    .score {
        top: 5%;
        right: 17%;
        font-size: 6vw;
    }
    .des{
        font-size: 3vw;
        padding: 10px;
    }
}