<!--<md-card class="game-card-item" style="height: 100%;" layout-fill on-mouseover='over()' on-mouseleave='leave()'>-->
  <!--<md-card-header>-->
    <!--<md-card-title>{{game.title}}</md-card-title>-->
    <!--&lt;!&ndash;<md-card-subtitle>{{game.topic.name}}</md-card-subtitle>&ndash;&gt;-->
  <!--</md-card-header>-->
  <!--<div class="game-preview">-->
    <!--<div class="" [hidden]="!isThumbDisplay">-->
      <!--<img md-card-image class="game-thumb" src="{{game.thumb}}" width=100 height=100 alt="game.title" [routerLink]="['/game', game._id]">      -->
    <!--</div>-->
    <!--<app-video-player></app-video-player>-->
  <!--</div>-->
  <!--<md-card-content style="height:100%;">-->
    <!--<p class="game-desc">-->
      <!--{{game.des}}-->
    <!--</p>-->
    <!--<div class="game-play-no">-->
      <!--<i class="icon ion-ios-infinite-outline"></i> {{game.plays}}-->
    <!--</div>-->
  <!--</md-card-content>-->
  <!--<md-card-actions>-->
    <!--<button md-button (click)="showGameInfo()"> <i class="icon ion-play"></i>  PLAY</button>-->
    <!--&lt;!&ndash;<div (mouseover)='over()' style="height:100px; width:100px; background:#e2e2e2">hello mouseover</div>&ndash;&gt;-->
  <!--</md-card-actions>-->
<!--</md-card>-->


<div class="card card-product" data-count="3">
    <div class="card-image" data-header-animation="false">
        <a [routerLink]="['/game', game._id]">
            <img class="img" [src]="game.thumb">
        </a>
        <div class="ripple-container"></div>
    </div>
    <div class="card-content">
        <p class="card-title">
            <a [routerLink]="['/game', game._id]">
                {{game.title}}
            </a>
        </p>
        <div class="card-plays">
            <i class="ion-play"></i> {{game.plays}} plays
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-md"> <i class="ion-flash"></i> PLAY</a>
    </div>
</div>
