.card-title{
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card-footer{
    text-align: center;
    padding-bottom: 0;
}
.card .card-footer button:first-child, .card .card-footer a:first-child{
    left: 0!important;

}
.card-plays{
    text-align: center;
    font-size: 0.85em;
    color: #666;
}
@media screen and (max-width: 768px) {
    .card-footer{
        margin: 0;
    }
}