.game-section {
    background: #FFFFFF;
    text-align: center;
}

.gioitinh {
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
    width: 15%;
}

.show_first {
    width: 100%;
    max-width: 744px;
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    background: #FFCF56;
    padding-top: 1px;
}

.part01 {
    width: 100%;
    height: 450px;
    max-width: 744px;
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    /*background-color: #000000;*/
    padding-top: 1px;
}

.show_first label {
    color: #000;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 20px;
}

.show_first h2 {
    color: #000;
    margin-top: 7%;
    font-size: 30px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.ip_name {
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 12px;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.result_app {
    border: none;
    border-radius: 5px;
    background: #1A9EF1;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10%;
    width: 20%;
}

.panelBox {
    width: 60%;
    font-size: 39px;
    /* margin-top: 7px; */
    margin: 21px auto;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic;
}

.total_game {
    width: 100%;

}

.ContentGame {
    width: 100%;
    background-color: #ffffff;
}

.gameBg {
    width: 100%;
    position: relative;
    height: 400px;
}

.nd {
    position: absolute;
    top: 92px;
    left: 12px;
    width: 480px;
    font-size: 29px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic;
}

.td {
    color: #C47D01;
    text-transform: uppercase;
    font-size: 60px;
    /*font-weight: bold;*/

}

#txt {
    position: absolute;
    top: 235px;
    left: 10px;
    right: 10px;
    font-size: 80px;
    color: crimson;
    font-family: Lato;

}

.des {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    font-family: Tahoma;
}

.gr {
    width: 360px;
    position: absolute;
    top: 140px;
    left: 196px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 66px;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: #fff;
    font-size: 29px;
    display: inline-block;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic
}

.box:hover {
    cursor: pointer;
}

.tick, .wrong {
    position: absolute;
    top: 140px;
    left: 270px;
    width: 220px;
}

.timer-wrapper {
    height: 20px;
    line-height: 20px;
    background: black;
    position: relative;
    margin: 78px auto;
    /*border-radius: 18px;*/

}

.timer-txt {

}

.so {
    position: absolute;
    top: 230px;
    left: 565px;
    font-size: 56px;
    font-weight: bold;
    width: 118px;
    color: #C47D01;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic

}

.timer-bar {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    /*transition: all 0.3s;*/
    background-color: #28c684;
    /*border-radius: 18px;*/
}

.timer-warn {
    background-color: #d0863a;
}

.timer-almost {
    background-color: #d03a49;
}

.show_first h1 {
    font-size: 26px;
    color: steelblue;
}

@media screen and (max-width: 750px) {
    .total_game, .ContentGame {
        width: 100%;
        height: auto;
    }

    .part01 {
        width: 100%;
        height: 80vw;
    }

    .show_first h1 {
        font-size: 6vw;
    }

    .result_app {
        font-size: 6vw;
        width: 41%;
    }

    .panelBox {
        width: 74vw;
        font-size: 6.5vw;
        margin: 5px auto;
    }

    .gr {
        width: 70vw;
        position: absolute;
        top: 20vw;
        left: 15vw;
    }

    .box {
        width: 18vw;
        height: 18vw;
        border-radius: 10vw;
        margin: 3px;
        line-height: 18vw;
        color: #fff;
        font-size: 6vw;
    }

    .des {
        font-size: 5vw;
    }

    .timer-wrapper {
        height: 4vw;
        margin: 12vw auto;

    }

    .timer-bar {
        height: 4vw;
    }

    #txt {
        position: absolute;
        top: 30vw;
        left: 2vw;
        right: 2vw;
        font-size: 15vw;
    }

}
@media screen and (max-width: 450px) {
    .gameBg {
        height: auto;
    }
    .nd {
        top: 40px;
        left: 0;
        width: 100%;
        font-size: 15px;
    }
    .td {
        font-size: 25px;
    }
}

