<!--<div>-->
  <!--<md-input-container>-->
    <!--<input md-input placeholder="Email" [required]=true focused>-->
  <!--</md-input-container>-->
<!--</div>-->
<!--<div>-->
  <!--<button md-button>RESET PASSWORD</button>-->
<!--</div>-->
<!--<div>-->
<div class="content">

    <div class="input-group">
        <span class="input-group-addon">
            <i class="ion-at"></i>
        </span>
        <div class="form-group label-floating is-empty">
            <input type="text" class="form-control" [required]=true focused [(ngModel)]="user.email"><span class="material-input"></span>
            <label class="control-label">Email</label>
        </div>
        <div *ngIf="error.email" class="alert">{{error.email}}</div>
    </div>
</div>
<div class="footer text-center">
    <a (click)="register()" class="btn btn-primary">Reset password</a>
</div>