
<div layout="row" ng-controller="IndexController" ng-init="loadGames()">
    <div flex>
        <message-frame type="0"></message-frame>
        <md-card class="group-game-index">
            <div class="clearfix group-game-title">
                <div class="category-icon"><i class="ion-android-time"></i></div>
                <span class="md-title">Game mới</span>
                <md-button ng-href="/all/" class="md-raised more-btn" aria-label="More">xem thêm</md-button>
            </div>
            <div layout="row" layout-wrap>
                <loading-circle flex="100" is-loading="games.isLoading"></loading-circle>
                <thumb-card ng-repeat="item in games.data.new | limitTo: 8" item="item" class="thumb-game" flex="12.5" flex-sm="25" flex-xs="33"></thumb-card>
            </div>
        </md-card>
        <md-card ng-repeat="topic in $root.topics" class="group-game-index">
            <div class="clearfix group-game-title">
                <div class="category-icon"><i class="{{::topic.icon}}"></i></div>
                <span class="md-title">{{::topic.name}}</span>
                <md-button ng-href="/topic/{{::topic._id}}" class="md-raised more-btn" aria-label="More">xem thêm</md-button>
            </div>
            <div layout="row" layout-wrap>
                <loading-circle flex="100" is-loading="games.isLoadingTopic"></loading-circle>
                <thumb-card ng-repeat="item in games.data.topic[topic._id] | limitTo: 8" item="item" class="thumb-game" flex="12.5" flex-sm="25" flex-xs="33"></thumb-card>
            </div>
        </md-card>
        <div layout-padding>
            <a href="/policy" class="policy">Điều khoản</a>
        </div>

    </div>
</div>

