<div layout-padding>
<h1>ĐIỀU KHOẢN THAM GIA FUNSTART.NET</h1>
<p>Các điều khoản dưới đây là những quy định chung về hình thức hoạt động của Funstart.net, trách nhiệm và quyền lợi của người tham gia Funstart.net. Bằng cách chấp nhận các điều khoản này, các bên tham gia cùng nhau cam kết tuân thủ thực hiện đúng theo bản điều khoản này nêu ra. Điều khoản này có thể được bổ sung và chỉnh sửa trong quá trình hoạt động của Funstart.net mà không cần thông báo trước cho các bên tham gia. Các điều khoản tham gia đã đồng ý trước đây giữa các bên tham gia sẽ thay đổi theo điều khoản mới này tại thời điểm ban hành.</p>
<h2>1. ĐIỀU KHOẢN SỬ DỤNG</h2>

<p>A. Thành viên hoặc người dùng Funstart.net phải đảm bảo đã đọc rõ và hiểu các điều khoản liên quan đến việc sử dụng công cụ của Funstart.net cùng các điểu khoản về bảo mật thông tin sẽ được liệt kê dưới đây.</p>
<p>B. Khi muốn tham gia hệ thống Funstart.net, người dùng bắt buộc phải đăng nhập bằng tài khoản Facebook, các thông tin cơ bản sẽ được phép truy cập để phục vụ cho công cụ hoạt động của Funstart.net.</p>
<p>C. Người dùng cam kết sử dụng các công cụ của Funstart.net không vì mục đích chính trị, tôn giáo hoặc vi phạm các quy định pháp luật hiện hành trên môi trường Internet. Trong trường hợp vi phạm, Funstart.net có quyền xóa người dùng nay lập tức mà không cần báo trước.</p>

<p>D. Không sử dụng công cụ của Funstart.net vào mục đích phá hoại, lôi kéo, bôi nhọ uy tín, nói sai sự thật đối với các đối tác hoặc các đối thủ khác trên hệ thống fanpage. Không gây hiềm khích đối với các thành viên khác của Funstart.net.
Không phá hoại, gây tổn hại, ảnh hưởng đến hệ thống trang web, uy tín, cơ sở vật chất của Funstart.net.
Nghiệm cấm hành vi hack, xâm nhập, sử dụng trái phép hệ thống dưới bất kỳ mục địch nào; đánh cắp dữ liệu, thông tin, tài khoản, mật khẩu của thành viên khác.
Không sử dụng từ ngữ, hình ảnh phản cảm, đồi trụy, trái với thuần phong mỹ tục Việt Nam.
Không gây ảnh hưởng xấu đến bất kỳ cá nhân, tổ chức, doanh nghiệp nào.</p>

<p>E. Cung cấp thông tin cá nhân chính xác cho Funstart.net giúp cho Funstart.net có thể hỗ trợ tốt đến người dùng.</p>


<h2>2. ĐIỀU KHOẢN BẢO MẬT</h2>

<h3>A. Thông tin cá nhân</h3>
<p>Khi bạn đăng ký tham gia vào Funstart.net bạn phải sử dụng tài khoản của Facebook, các công cụ của Funstart.net gắn liền với việc sử dụng Facebook. Chính vì vậy, các bạn phải đồng ý cung cấp cho Funstart.net những thông tin cơ bản và cho phép truy xuất dữ liệu của người dùng. Các hành vi truy xuất sẽ được công bố công khai để người dùng nắm được, tránh gây tranh cãi.</p>

<h3>B. Cookies</h3>
<p>Khi bạn ghé thăm website https://funstart.net, chúng tôi sẽ gửi về trình duyệt trên máy tính hoặc thiết bị cầm tay của bạn những tập tin gọi là cookies. Chúng tôi sử dụng cookie để nâng cao chất lượng dịch vụ, bao gồm lưu trữ thông tin liên quan đến đăng nhập, nâng cao tính năng tiện dụng của giao diện web, dự đoán xu thế hoạt động của các trang fanpage và hành vi hoạt động.</p>

<h3>C. Thông tin truy cập</h3>
<p>Khi bạn truy cập website https://funstart.net thông qua trình duyệt và ứng dụng, máy chủ của chúng tôi sẽ tự động ghi nhận lại một số thông tin nhất định. Những ghi nhận này bao gồm thông tin về dữ liệu trao đổi web, cách bạn sử dụng dịch vụ, loại trình duyệt, ngôn ngữ, ngày giờ truy cập, các ứng dụng của Funstart.net, các chuyên mục và bài viết bạn quan tâm đến</p>

<h3>D. Thông tin trao đổi</h3>
<p>Khi bạn gửi email hoặc yêu cầu (nếu có) đến Funstart.net, chúng tôi có thể lưu lại những thông tin của bạn nhằm mục đích xử lý những phải hồi của bạn về công cụ Funstart.net và đẩy mạnh chất lượng phục vụ. Chúng tôi có thể sử dụng email của bạn để thực hiện thông tin liên lạc về dịch vụ.</p>
</div>