<section ng-if="$root.user && $root.profile.data._id" ng-controller="FeedController" ng-init="loadInfomations($root.profile.data._id)">
    <md-tabs md-dynamic-height md-border-bottom >
        <md-tab label="Lịch sử chơi">
            <div style="padding: 30px 0">
                <div class="activity-frame"
                     infinite-scroll="activities.loadMore()"
                     infinite-scroll-immediate-check="false"
                     infinite-scroll-distance="1">
                    <activity-card ng-repeat="item in activities.data" item="item" flex="33" flex-md="50" flex-sm="50" flex-xs="100"></activity-card>
                    <loading-circle is-loading="activities.isLoading" flex="100"></loading-circle>
                    <div ng-if="!activities.data.length && !activities.isLoading">Chưa có lịch sử chơi</div>
                </div>
            </div>
        </md-tab>
        <md-tab label="Cây kỹ năng">
        </md-tab>
    </md-tabs>
</section>
<section ng-if="!$root.user" layout-padding style="height: 200px" layout="row" layout-align="center center">
    Phải đăng nhập mới xem được trang
</section>
