body {
  font: 14px Open Sans, Helvetica, Arial, sans-serif;
  background: #efefef !important;

}
html{
  background: #efefef !important;
}
a {
  color: rgb(63,81,181);
}
user-card .md-button.md-fab{
  padding: 0;
  margin: 0;
}
.faded{
  display: none;
}

.stat-user{
  margin: 14px auto;
}
.exp-progress{
  margin-top: 7px;
}
/*.game-card-a{*/
  /*position: relative;*/
/*}*/
.game-card{
  position: relative;
  /*overflow: hidden;*/
}
.game-card>div:first-child{
  padding: 16px 0 16px 16px;
}
.game-card>div:last-child{
  padding: 16px;
}
@media only screen and (max-width: 767px) and (min-width: 600px){
  .game-card>div:first-child{
    padding: 5px 0 5px 5px;
  }
  .game-card>div:last-child{
    padding: 5px;
  }
}
@media only screen and (max-width: 599px){
  .game-card{
    margin-left: 0;
    margin-right: 0;
  }
}
.game-card .md-button{
  min-width: 0px;
  margin: 0;
}
.game-card .img-area>img{
  border-radius: 5px;

}
/*Style Cu
.game-info{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0,75%);
  transition: transform 300ms ease;
}
.game-card-a:hover .game-info,.game-card-a:focus .game-info{
  transform: translate(0,0);
}

.game-title{
  height: 25%;
  background: #fff;
}
.game-title .category-icon{
  font-size: 2em;
}
.game-des{
  padding: 10px;
  color: #fff;
  height: 75%;
  background: rgba(0,0,0,0.75);
}
*/
.group-game-card{
  padding-top: 20px;
}
.group-game-index{
  padding: 20px;
}
.group-game-title{
  padding-left: 15px;
}
.group-game-index .md-title{
  line-height: 24px;
  color: #2e2d7c;
}

.group-game-title .more-btn{
  text-transform: uppercase;
  color: #f1702f!important;
}
.group-game-title>*{
  margin-right: 5px;
  float: left;
}
.group-game-index .thumb-game{
  padding: 20px 10px 0 10px;
}
@media screen and (min-width: 960px){
  .group-game-index .thumb-game{
    max-width: 12.5%;
  }

}

.group-game-index .title,.group-game-card .title{
  font-weight: bold;

}
.group-game-index .title{
  padding-top: 5px;
  text-align: center;
}
.group-game-card .title{
  text-align: left;
}
.group-game-index .title a,.group-game-card .title a{
  text-decoration: none;
  color: #252525;
}
.group-game-card .title a{
  font-size: 1.25em;
  color: #f1702f;
}
.group-game-index .description{
  padding-top: 2px;
  text-align: center;
}
.group-game-index .description,.group-game-card .description{
  color: #666;
  font-size: 0.85em;
}
.fb-description{
  color: #666;
  text-align: center;
  font-size: 12px
}
.group-game-card .description{
  text-align: left;
  padding-top: 5px;
}
.group-game-card .topic{
  padding-top: 5px;
  color: #2e2d7c;
}
.group-game-card .topic>i{
  margin-right: 5px;
}
.group-game-index .thumb-game .md-button,.group-game-card .md-button{
  padding: 0px;
}

.category-icon{

  background-color: #2e2d7c;
  width: 24px;
  height: 24px;
  display: table;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
}
.group-game-index .category-icon i{
  display: table-cell;
  font-size: 1.25em;
  color: #fff;
  line-height: 24px;

}
.group-game-index .md-button{
  color: #f1702f;
  font-weight: 800;
  margin: 0 5px;
  padding: 0 5px;
  line-height: 24px;
  min-height: 24px;
  min-width: 30px;
  font-size: 0.75em;
}
.doing-quest{
  color: rgb(255,64,129) !important;
}
.quest-item>a{
  margin: 0;
  padding: 16px;
}
.quest-item>button{
  padding-top: 11px;
  padding-bottom: 11px;
}
.quest-item h3{
  text-transform: uppercase;
  letter-spacing: 2px;
}
h5.status-0{
  padding: 5px;

  color: #2b2e7b;
  outline: 2px solid #2b2e7b;
  /*box-shadow: 0 0 0 2px #fff;*/
  /*animation: 400ms animateBorder-0 infinite;*/
}
h5.status-1{
  padding: 5px;
  color:  #f1702f;
  outline: 2px dashed #f1702f;
  box-shadow: 0 0 0 2px #fff;
  animation: 400ms animateBorder-1 infinite;
}
h5.status-2{
  padding: 5px;
  color: #181818;
  outline: 2px dashed #181818;
  box-shadow: 0 0 0 2px #fff;
  animation: 400ms animateBorder-2 infinite;
}
.status-mobile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
}
.invite-text{
  font-size: 1.5em;
}
/*@keyframes animateBorder-0 {*/
  /*to {*/
    /*outline-color: #fff;*/
    /*box-shadow: 0 0 0 2px #2b2e7b;*/
  /*}*/
/*}*/
@keyframes animateBorder-1 {
  to {
    outline-color: #fff;
    box-shadow: 0 0 0 2px #f1702f;
  }
}
@keyframes animateBorder-2 {
  to {
    outline-color: #fff;
    box-shadow: 0 0 0 2px #181818;
  }
}

.friend-item h5{
  text-transform: uppercase;
  letter-spacing: 1px;
}
.md-3-line.friend-item{
  min-height: 50px;
}
.md-3-line.friend-item>.md-no-style{
  min-height: 50px;
}
.friend-item{
  position: relative;
}
.a-item{
  display: block;
  text-decoration: none;
}
.a-item>h4:hover , .a-item>span:hover{
  color: #f1702f!important;
}
.friend-item .md-button{
  line-height: normal;
  z-index: 100;
  margin: 7px auto;
}
.friend-item{
  vertical-align: center;
  padding: 8px 16px;
}
.friend-item img{
  margin-top: 8px!important;
}
.friend-item h4{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
@media only screen and (max-width: 456px){
  .friend-item h4{
    max-width: 110px;
  }
}
.md-sidenav-right{
  background-color: #efefef;
}
.virtualRepeatdemoHorizontalUsage #horizontal-container,.virtualRepeatdemoHorizontalUsage #horizontal-container2 {
  height: 150px;
  width: 100%;
}

.virtualRepeatdemoHorizontalUsage .repeated-item {
  padding: 10px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.virtualRepeatdemoHorizontalUsage md-content {
  margin: 16px auto; }

.virtualRepeatdemoHorizontalUsage md-virtual-repeat-container {
  border: solid 1px grey;
}
md-tabs{
  padding-left: 10px;
  padding-right: 10px;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/

.game-section{
  background-color: #efefef;
  width: 100%;
  position: relative;
  height: calc(100vh - 64px);
  /*overflow: hidden;*/
}

@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {

  .game-section{
    height: calc(100vh - 48px);
  }
}
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait){
  .game-section{
    height: calc(100vh - 56px);
  }
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.bottom-nav{
  padding-top: 64px;
}
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  .bottom-nav{
    padding-top: 48px;
  }
  md-sidenav,md-backdrop{
    position: fixed;
  }
  .fixed{
    z-index: 50;
  }
}
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait){
  .bottom-nav{
    padding-top: 56px;
  }
  md-sidenav,md-backdrop{
    position: fixed;
  }
  .fixed{
    z-index: 50;
  }
}
@media only screen and (max-width: 959px){
  .search-panel{
    margin: 0!important;
  }
}
.quest-item .md-chips .md-chip {
  border-radius: 12px;
  margin: 5px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  font-size: 0.75em;
  overflow: hidden;
}
.chip-text{
  position: relative;
  z-index: 2;
}
.chip-percent{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2b2e7b;
  height: 100%;
  width: 0;
  z-index: 1;
  transition: width 250ms ease;
}
.md-chip.md-primary{
  background: #9696bd;
  color: #fff;
}
.md-chip.md-accent{
  background: #f1702f;
  color: #fff;
}
.md-accent{
  color: #f1702f;
}
.mission-finish{
  background-color: rgba(241, 112, 47, 0.09);
}

.quest-item .md-chips{
  padding-left: 0px;
}
.quest-item .md-chips .md-chip:first-child{
  margin-left: 0px;
}
/*.quest-item md-progress-linear{*/
  /*margin: 5px 5px 5px 0;*/
/*}*/
/*.quest-item md-progress-linear .md-container {*/
  /*background-color: transparent;*/
  /*border: 1px solid rgb(224,224,224);*/
  /*border-radius: 12px;*/
  /*height: 22px;*/

/*}*/
/*.quest-info{*/
  /*position: relative;*/
/*}*/
/*.quest-item md-progress-linear, .quest-item .md-chips{*/
  /*width: calc(50% - 5px);*/
  /*float: left;*/
/*}*/
/*.quest-item md-progress-linear .md-container .md-bar1,.quest-item  md-progress-linear .md-container .md-bar2{*/
  /*height: 22px;*/
/*}*/
/*.quest-item  md-progress-linear .md-container .md-bar2{*/
  /*background-color: rgb(224,224,224);*/
/*}*/

.quest-item .md-chips{
  box-shadow: 0 0 #fff;
  padding-bottom: 0px;
}
.clearfix{
  clear: both;
}

.main-panel{
  background-color: #efefef;
}
.game-panel{
  background-color: #0e0e0e;
  position: relative;
  height: 100%;
}
.game-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.game-frame{
  position: relative;
  width: 100%;
  height: 100%;
}
.nav-button{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-button .left-nav-btn{
  position: absolute;
  top: 0;
  left: 0;
}
.nav-button .right-nav-btn{
  position: absolute;
  top: 0;
  right: 15px;
}
.nav-button i{
  color: #fff;
  font-size: 1.5em;
}
a.search-link {
  text-decoration: none;
  color: #000;
}
.thumb-search{
  display: inline;
  margin-top: 10px;
  margin-bottom: -10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.search-menu li {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: normal;
}
.search-form{
  position: relative;
}
.search-form md-autocomplete input:not(.md-input){
  padding-left: 35px;
}
.search-form md-autocomplete input:not(.md-input)::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-weight: bold;
  font-size: 13px;
}
.search-form-icon{
  position: absolute;
  top: 7px;
  left: 10px;
  color: rgb(32,31,86);
}
.md-icon-button.nav-icon{
  font-size: 1em;
}
.nav-toolbar .md-menu button{
  color: #fff;
}
nav-toolbar .md-button{
  text-transform: none;
  font-weight: 700;
  font-size: 13px;
}
.nav-toolbar md-menu>button:hover, .nav-toolbar md-menu>button:focus, .nav-toolbar md-menu.md-open>button{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.dialog-signin{
  width: 500px;
  max-height: 800px;
}
@media screen and (max-width: 499px){
  .dialog-signin{
    width: 294px;
  }
  md-dialog {
    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
  }
}
.md-facebook{
  background-color: #3d5998!important;
  color: #fff!important;
}
.md-facebook:not([disabled]):hover,a.md-facebook:not([disabled]):focus{
  background-color: #4666ae!important;
  color: #fff!important;
}
.pre-game{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  z-index: 2;
}
.recommend-games{
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*height: 100%;*/
  /*width: 100%;*/
  z-index: 2;
}
.canvas-info{
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}
.canvas-content{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: calc(100% - 5px);
}
.canvas-des{
  font-size: 2em;
  color: #fff;
  background: rgba(0,0,0,0.2);
  text-align: center;
}
.canvas-info>p{
  margin: 0;
  padding: 0;
}
.canvas-avatar{
  border-radius: 50%;
  width: 90%;
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 1100px){
  .canvas-info{
    font-size: 2em;
  }
  .canvas-des{
    font-size: 1.5em;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px){
  .canvas-info{
    font-size: 1.5em;
  }
  .canvas-des{
    font-size: 1em;
  }
}
@media screen and (max-width: 480px){
  .canvas-info{
    font-size: 1em;
  }
  .canvas-des{
    font-size: 0.75em;
  }
}
.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: 400ms ease all;
  -moz-transition: 400ms ease all;
  -ms-transition: 400ms ease all;
  -o-transition: 400ms ease all;
  transition: 400ms ease all;
}
.animate-if.ng-enter,  .animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-if.ng-enter.ng-enter-active,.animate-if.ng-leave{
  opacity: 1;
}

.shadow-recommend{
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.75);
}
.recommend-card{
  padding: 0!important;
}
.recommend-games .group-game-card {
  padding-top: 0;
}

@media screen and (min-width: 600px){
  .recommend-btn{
    min-width: 320px;
    font-size: 1.25em;
    padding: 10px 30px;
  }
}
.btn-play{
  display: block!important;
  font-size: 1.25em;
  min-width: 200px;
  padding: 10px 20px;
}
.room-btn{
  width: calc(100% - 20px);
  font-size: 1.25em;
  padding: 10px 15px;
}
/* Antiman */
.btn-pg{
  display: block;
  padding: 1.25em 2em;
  border: none;
  background: #2b2e7b;
  color: #fff;
  position: relative;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.btn-pg:focus{
  outline: none;
}
.btn-pg>span{
  margin-left: 0.35em;
}
.btn-pg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #2b2e7b;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-pg:hover {
  background: none;
  color: #2b2e7b;
}
.btn-pg:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.btn-slider{
  margin: 0;
  padding: 0;
}
.md-sidenav-left .md-subheader .md-subheader-inner{
  background-color: #c9c9c9;
}
.md-sidenav-left .md-no-style.md-button.md-ink-ripple{
  margin: 0;
}
.finish-toast{
  color: #2b2e7b;
  background-color: rgba(241, 112, 47,1);
}
md-toast.md-md-accent-theme>.md-toast-content{
  color: rgba(241, 112, 47,1);
  background-color: #2b2e7b;
}
md-toast {
  position: fixed;
}
@media (max-width: 959px){
  md-toast.md-md-accent-theme {
    top: 50%;
    transform: translate(0,-50%);
    bottom: auto;
  }
  md-toast.invite-toast{
    top: 0%;
  }
}

.hex.hex-gap,.hex-svg,.hex-svg>svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hex-gap-1>.corner{
  position: absolute;
  top: 40%;
  left: 32.68%;
  width: 34.64%;
  height: 20%;
  border-right: 1px solid rgba(255,255,255,0.25);
  border-left: 1px solid rgba(255,255,255,0.25);
}
.hex-gap-2>.corner{
  position: absolute;
  top: 30%;
  left: calc(15.5% - 1px);
  width: 69%;
  height: 40%;
  border-right: 2px solid rgba(255,255,255,0.4);
  border-left: 2px solid rgba(255,255,255,0.4);
}
.hex.point{
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  background-color: #fff;
}
.hex.point-user{
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  background-color: #fff;
}
.hex-icon{
  position: absolute;
  display: table-cell;
  font-size: 1.25em;
  color: #2b2e7b;
  background-color: rgba(255,255,255,1);
  line-height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  z-index: 3;
}
.hex.point-number{
  position: absolute;
  display: table-cell;
  font-size: 0.75em;
  padding: 0 10px;
  color: #fff;
  transform: translate(-50%,0);
  /*background-color: rgba(0,0,0,0.5);*/

  background-color: rgba(241, 112, 47, 0.75);
  line-height: 24px;
  border-radius: 6px;
  text-align: center;
  z-index: 2;
}
.point-number.point-0{
  top: calc(5% + 7px);
  left: 50%;
}
.hex-icon.ion-ios-bolt{
  top: calc(5% - 12px);
  left: calc(50% - 12px);
}
.point-number.point-1{
  top: calc(27.5% - 12px);
  right: calc(11% - 7px);
}
.hex-icon.ion-ios-infinite{
  top: calc(27.5% - 12px);
  right: calc(11% - 12px);
}
.point-number.point-2{
  bottom: calc(27.5% - 12px);
  right: calc(11% - 7px);
}
.hex-icon.ion-ios-lightbulb{
  bottom: calc(27.5% - 12px);
  right: calc(11% - 12px);
}
.point-number.point-3{
  bottom: calc(5% + 7px);
  left: 50%;
}
.hex-icon.ion-ios-eye{
  bottom: calc(5% - 12px);
  left: calc(50% - 12px);
}
.point-number.point-4{
  bottom: calc(27.5% - 12px);
  left: calc(11% + 27px);
}
.hex-icon.ion-ios-cog{
  bottom: calc(27.5% - 12px);
  left: calc(11% - 12px);
}

.hex-icon.ion-ios-flame{
  top: calc(27.5% - 12px);
  left: calc(11% - 12px);
}
.point-number.point-5{
  top: calc(27.5% - 12px);
  left: calc(11% + 27px);
}
.hex.line{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  width: 1px;
  height: 80%;
  top: 10%;
  left: 50%;
}
.hex.line-2{
  transform: rotate(60deg);
}
.hex.line-3{
  transform: rotate(120deg);
}
.corner.corner-2{
  transform: rotate(60deg);
}
.corner.corner-3{
  transform: rotate(120deg);
}
.hex-svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke: rgba(255,255,255,1);
}
.error-form{
  padding: 10px;
  border-radius: 6px;
  background: rgba(241, 112, 47, 0.2);
  border: 1px solid #f1702f;
}
.success-form{
  padding: 10px;
  border-radius: 6px;
  background: rgba(43, 46, 123, 0.2);
  border: 1px solid #2b2e7b;
}
.friend-list{
  max-height: 300px;
  overflow-y: scroll;
}
.player-list{
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
.room-list{
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
.room-list-host{
  height: calc(100vh - 270px);
  overflow-y: scroll;
}
.find-btn{
  width: 100%;
}

.spinner-bg>.search-text{
  color: #e6e6e6;
  font-size: 1.5em;
  font-weight: bold;
  padding: 30px 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.search-close-btn{
  position: fixed;
  top: 5px;
  right: 0;
  color: #e6e6e6;
  font-size: 2em;
  z-index: 104;
}
.search-spinner {
  font-size: 100px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #123456;
  box-shadow: inset 0 0 0 .12em rgba(0,0,0,0.5), 0 0 0 .12em rgba(255,255,255,1);
  background:
          -webkit-linear-gradient(#2b2e7b 50%, #f1702f 50%),
          -webkit-linear-gradient(#f1702f 50%, #2b2e7b 50%);
  background:
          -webkit-linear-gradient(#2b2e7b 50%, #f1702f 50%), -webkit-linear-gradient(#f1702f 50%, #2b2e7b 50%);
  background:
          linear-gradient(#2b2e7b 50%, #f1702f 50%),
          linear-gradient(#f1702f 50%, #2b2e7b 50%);
  background-size: 50% 100%, 50% 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  opacity: 0.7;
  -webkit-animation: mask 3s infinite alternate;
  animation: mask 3s infinite alternate;
}
.search-ready {
  position: relative;
  font-size: 100px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .12em rgba(0,0,0,0.5), 0 0 0 .12em rgba(255,255,255,1);
  background: #2b2e7b;
  -webkit-animation: change-color 300ms infinite alternate;
  animation: change-color 300ms infinite alternate;
  cursor: pointer;
}
.search-ready>span{
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: center;
}
.rect-info{
  position: relative;
  width: 100%;
  height: 100%;
}
.rect-blue{
  position: absolute;
  top: -50%;
  left: 0;
  background: #2b2e7b;
  width: 100%;
  height: 50%;
  padding: 20px;
  -webkit-animation: run-right 6s;
  animation: run-right 6s;
}
.rect-orange{
  position: absolute;
  top: 100%;
  left: 0;
  background: #f1702f;
  width: 100%;
  height: 50%;
  padding: 20px;
  -webkit-animation: run-left 6s;
  animation: run-left 6s;
}
.spinner-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(26,26,26,.9);
  animation-name: fade-in;
  animation-duration: 300ms;
}
@-webkit-keyframes change-color {
  0% { background: #2b2e7b; }
  100% { background: #f1702f; }
}

@-webkit-keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.search-spinner:after {
  content: "";
  position: absolute;
  border: .12em solid rgba(255,255,255,0.3);
  position: absolute;
  top: 25%;
  left: 25%;
  width: 25%;
  height: 25%;
  border-radius: inherit;
}

@-webkit-keyframes mask {
  0%   { }
  25%  { -webkit-transform: rotate(270deg); }
  50%  { -webkit-transform: rotate( 90deg); }
  75%  { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(180deg); }
}

@keyframes mask {
  0%   { }
  25%  { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
  50%  { -webkit-transform: rotate( 90deg); transform: rotate( 90deg); }
  75%  { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
}
.fight-avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}
.fight-info{
  font-size: 1.25em;
  color: #fff;
  margin: 10px;
}
.fight-info>h1{
  text-transform: uppercase;
  margin: 0;
}
.fight-info>h3{
  margin: 0;
}
.versus-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  transform: translate(-50%,-50%);
}
.versus-text.anim-0{
  opacity: 0;
  animation: text-anim-0 6s;
}
.versus-text.anim-1{
  opacity: 0;
  font-size: 6.5em;
  animation: text-anim-1 6s;
}
.versus-text.anim-2{
  opacity: 0;
  font-size: 6em;
  animation: text-anim-2 6s;
}
.versus-text.anim-3{
  opacity: 0;
  font-size: 5.5em;
  animation: text-anim-3 6s;
}
@-webkit-keyframes text-anim-0{
  0% { opacity: 1}
  29% { opacity: 1}
  30% { opacity: 0}
  100% { opacity: 0}
}
@-webkit-keyframes text-anim-3{
  0% { opacity: 0}
  30% { opacity: 0}
  31% { opacity: 1}
  44% { opacity: 1}
  45% { opacity: 0}
  100% { opacity: 0}
}
@-webkit-keyframes text-anim-2{
  0% { opacity: 0}
  45% { opacity: 0}
  46% { opacity: 1}
  59% { opacity: 1}
  60% { opacity: 0}
  100% { opacity: 0}
}
@-webkit-keyframes text-anim-1{
  0% { opacity: 0}
  60% { opacity: 0}
  61% { opacity: 1}
  74% { opacity: 1}
  75% { opacity: 0}
  100% { opacity: 0}
}
@-webkit-keyframes run-left {
  0% { transform: translate(-100%,-100%)}
  14% { transform: translate(10%,-100%)}
  15% { transform: translate(0,-100%)}
  30% { transform: translate(0,-100%)}
  34% { transform: translate(0,-89%)}
  35% { transform: translate(0,-90%)}
  45% { transform: translate(0,-90%)}
  49% { transform: translate(0,-79%)}
  50% { transform: translate(0,-80%)}
  60% { transform: translate(0,-80%)}
  64% { transform: translate(0,-69%)}
  65% { transform: translate(0,-70%)}
  75% { transform: translate(0,-70%)}
  95% { transform: translate(0,0)}
  100% { transform: translate(0,0)}
}
@-webkit-keyframes run-right {
  0% { transform: translate(100%,100%)}
  14%  { transform: translate(-10%,100%)}
  15% { transform: translate(0,100%)}
  30% { transform: translate(0,100%)}
  34% { transform: translate(0,89%)}
  35% { transform: translate(0,90%)}
  45% { transform: translate(0,90%)}
  49% { transform: translate(0,79%)}
  50% { transform: translate(0,80%)}
  60% { transform: translate(0,80%)}
  64% { transform: translate(0,69%)}
  65% { transform: translate(0,70%)}
  75% { transform: translate(0,70%)}
  95% { transform: translate(0,0)}
  100% { transform: translate(0,0)}
}
.full-mode{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 320px);
  height: 100%;
  overflow: hidden;
  z-index: 102;
}
.full-mode-2{

  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  overflow: hidden;
  z-index: 102;
}
.full-mode-3{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 64px;
  z-index: 102;
}
.full-mode-3 .repeated-item {
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding: 7px;
  text-align: center;
}

.full-mode-3 md-content {
  margin: 16px;
}
.full-mode-3 .mini-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.full-mode-3 p{
  font-size: 0.75em;
}
.full-mode-3 h5,.full-mode-3 p{
  margin: 0;
}
.full-mode-3 md-virtual-repeat-container {
  height: 64px;
  background: #fff;
  border: solid 1px grey; }
.divider-right{
  border-right: 1px solid #C6C6C6;
}
.full-mode>md-content{
  height: calc(100% - 64px);
}
.battle-room .invite-div{
  padding: 0;
}
.battle-room md-input-container,.battle-room h4{
  margin: 0
}
.battle-room md-input-container .md-errors-spacer{
  min-height: 0;
}
.top-progress{
  position: absolute;
  z-index: 102;
  top: 0;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 959px){
  .full-mode{
    overflow-y: scroll;
    top: 64px;
    width: 100%;
    height: calc(100% - 64px);
  }
  .full-mode>md-content{
    height: 100%;
  }
}
.md-dialog-container{
  z-index: 200;
}