.game-section {
    background: #FFFFFF;
    text-align: center;
    padding: 1px;
}

@font-face {
    font-family: f2;
    src: url('font/SVN-Adam Gorry.ttf');
}

.part01 {
    width: 100%;
    height: 450px;
    max-width: 744px;
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    /*background-color: #000000;*/
    padding-top: 1px;
}

.ip_name {
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 12px;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.result_app {
    border: none;
    border-radius: 5px;
    background: #1A9EF1;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 3%;
    margin-bottom: 11%;
}

.panelBox {
    width: 77%;
    font-size: 27px;
    /* margin-top: 7px; */
    /*margin: 0 auto;*/
    margin-left: 39px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic;
}

.total_game {
    width: 100%;

}

.ContentGame {
    width: 100%;
    background-color: #ffffff;
    height: 400px;
    overflow: hidden;
}

.gameBg {
    width: 100%;
    position: relative;
}

.nd {
    position: absolute;
    top: 133px;
    left: 15px;
    width: 500px;
    font-size: 37px;
    /* text-transform: uppercase; */
    line-height: 65px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic;
}

#txt {
    position: absolute;
    top: 63px;
    left: 10px;
    right: 10px;
    font-size: 75px;
    color: crimson;
}

.td {
    color: #C47D01;
    text-transform: uppercase;
    font-size: 41px;
    font-family: f2;
}

#txt {
    position: absolute;
    top: 235px;
    left: 10px;
    right: 10px;
    font-size: 80px;
    color: crimson;
    font-family: Lato;

}

.des {
    text-align: center;
    padding: 10px;
    text-align: left;
    font-size: 23px;
    font-family: Tahoma;
}

.dam {
    font-size: 30px;
    font-weight: bold;
    color: #201f56;
}

.gr {
    width: 537px;
    /* position: relative; */
    /* top: 140px; */
    /* left: 196px; */
    margin: -56px auto;
    position: relative;
    z-index: 1;
}

.box {
    width: 39px;
    height: 39px;
    /* background-color: red; */
    border-radius: 66px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 39px;
    /* color: #fff; */
    border-radius: 66px;
    font-size: 20px;
    /* border: 1px solid; */
    display: inline-block;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic;
}

.timer-wrapper {
    background: grey;
    height: 15px;
    width: 27%;
    margin: 42px auto;
    position: relative;
    border-radius: 30px;
}

.timer-bar {
    width: 100%;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    /*transition: all 0.3s;*/
    background-color: crimson;
    border-radius: 30px;
}
.so {
    position: absolute;
    top: 275px;
    left: 572px;;
    font-size: 56px;
    font-weight: bold;
    width: 118px;
    color: #C47D01;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft YaHei', 黑 体, Arial, sans-serif, 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, ng, '돋움', dotum, AppleGothic

}

.panelBox div:nth-child(1) {
    float: left;
    margin-left: 42px;
}

.panelBox div:nth-child(2) {
    float: left;
    margin-left: 50px;
}

.panelBox .levelGame {
    float: right;
    font-size: 45px;
}

.pause_bt img {
    width: 40%;
    vertical-align: top;

}

.goal {
    font-size: 38px;
    margin: -7px auto;
}

.timer-warn {
    background-color: #d0863a;
}

.timer-almost {
    background-color: #d03a49;
}

.cs {
    position: absolute;
    top: 294px;
    left: 105px;
    background-color: #D60006;
    width: 320px;
    padding: 1px;
    color: #fff;
    font-size: 27px;
    /* letter-spacing: 2px; */
    border-radius: 5px;
    font-family: font1;
    -webkit-box-shadow: 0px 2px 3px 1px #000000;
    -moz-box-shadow: 0px 2px 3px 1px #000000;
    box-shadow: 0px 2px 3px 1px #000000;
    font-family: monospace;
    font-weight: bold;
}

.cs:hover {
    cursor: pointer;
}

.area1, .area2 {
    width: 253px;
    height: 248px;
    background-color: grey;
    opacity: 0.08;
    position: absolute;
    left: 270px;
    top: 25px;
    z-index: -1;
}

.area2 {
    left: 17px;
    top: 273px;
}

.main {
    width: 800px;
    margin: 60px auto;
    text-align: center;
}

.popup-wrap h1 {
    margin-bottom: 30px;
    font-size: 44px;
}

.popup-wrap h2 {
    margin-bottom: 10px;
    font-size: 39px;
    font-weight: bold;
}

.popup-wrap p {
    font-size: 31px;
}

.popup-wrap h4 {
    font-size: 16px;
    color: gray;
    margin-top: 42px;
}

.popup-btn:hover {
    opacity: 0.75;
}

.popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    background: rgba(0, 0, 0, 0.85);
    z-index: 10;
}

.popup-box {
    width: 444px;
    padding: 50px 75px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 300px;
    left: 50%;
    height: 72%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
    text-align: center;
}

.close-btn {
    width: 30px;
    height: 28px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transition: all ease 0.50s;
    transition: all ease 0.75s;
    border-radius: 1000px;
    background: #d75f70;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 160%;
    padding-top: 2px;
}

.tm, .gl, .sc {
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}

/*----intro game------*/
.container1 {
    width: 100%;
    height: 30em;
    margin: 0 auto;
    border-bottom: 1px solid #313131;
}

.container1 h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 8em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .125em;
    animation-name: animateText;
    animation-timing-function: ease;
    animation-duration: 3.75s;
    position: relative;
    left: -99em;
}

.container1 h1 span {
    animation-name: animateColor;
    animation-duration: 2s;
    animation-delay: 1s;
}

.st {
    width: 50%;
    padding: 20px;
    margin: -330px auto;
    background-color: #e9e9e9;
    border-radius: 5px;
    border: 2px solid #201f56;
}
.st h1{
    margin-top: 0;
}

.playNow {
    width: 40%;
    font-size: 22px;
    color: white;
    font-weight: bold;
    background-color: #201f56;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 20px;
    margin: 0 auto;
    padding-bottom: 3px;
    border: 2px solid #201f56;
}

.playNow:hover {
    background-color: #FFFFFF;
    color: #201f56;
    cursor: pointer;
}

@keyframes animateText {
    0% {
        left: 30em;
        opacity: 0
    }
    50% {
        opacity: 1
    }
    80% {
        left: .5em;
    }
    100% {
        left: -8em;
    }
}

@keyframes animateColor {
    from {
        color: white;
    }
    to {
        color: red;
    }
}

@media screen and (max-width: 750px) {
    .YlkGameContainer {
        min-height: 128vw;
    }

    /*----intro game------*/
    .container1 {
        width: 100%;
        height: 72vw;
    }

    .container1 h1 {
        font-size: 15vw;
        left: -50em;
    }

    .st {
        width: 80%;
        padding: 2vw;
        margin: -53vw auto;
    }

    .playNow {
        width: 40%;
        font-size: 6vw;
        border-radius: 5vw;
        margin-top: 2%;
    }

    .total_game, .ContentGame {
        width: 100%;
        height: auto;
    }

    .part01 {
        width: 100%;
        height: 80vw;
    }

    .result_app {
        font-size: 6vw;
        width: 41%;
    }

    .panelBox {

        font-size: 5vw;

    }

    .goal {
        font-size: 8vw;
    }

    .gr {
        width: 100%;
        margin: -10vw auto;
    }

    .box {
        width: 6vw;
        height: 6vw;
        border-radius: 4vw;
        margin: 1.5vw;
        line-height: 5vw;
        color: #fff;
        font-size: 4.5vw;

    }

    .pause_bt img {
        width: 97%;
        vertical-align: top;
    }

    .des {
        font-size: 5vw;
    }

    .panelBox div:nth-child(1) {
        float: left;
        margin-left: -4vw;
        width: 17%;
    }

    .panelBox div:nth-child(2) {
        float: left;
        margin-left: 14vw;
    }

    .timer-wrapper {
        height: 3vw;
        margin: 7.5vw auto;
        border-radius: 10vw;
        width: 38%;
    }

    .timer-bar {
        height: 3vw;
        border-radius: 10vw;
    }

    .panelBox .levelGame {
        float: right;
        font-size: 9vw;
    }

    .area1, .area2 {
        width: 46vw;
        height: 46vw;
        background-color: grey;
        opacity: 0.08;
        position: absolute;
        left: 46vw;
        top: 6vw;
    }

    .area2 {
        left: 0vw;
        top: 50vw;
    }

    .popup-box {
        width: 81%;
        padding: 3vw 3vw;
    }

    .popup-wrap h2 {
        margin-bottom: 3vw;
        font-size: 10vw;
    }

    .popup-wrap h4 {
        font-size: 4vw;
        color: gray;
        margin-top: 16vw;
    }

    .popup-wrap p {
        font-size: 6vw;
    }

    .tm, .gl, .sc {
        font-size: 8vw;
    }

}