<div ng-if="$root.user" ng-controller="BattleController as vm" ng-init="init(vm.thisPlayer.id)" ng-cloak>
    <!--main screen-->
    <md-progress-linear ng-if="vm.result == null" ng-show="vm.determinateValue" md-mode="determinate"
                        value="{{vm.determinateValue}}"></md-progress-linear>
    <img class="img-circle QuizFightPlayer_avatar"
         src={{vm.thisPlayer.avatar}}
         alt="{{vm.thisPlayer.name}}">

    <!--funstart-->
    <div ng-if="vm.invitation > 0">
        <md-button class=""
                   ng-show="challager"
                   ng-click="agreeToPlay(challager.senderId,
                   challager.senderName,
                   vm.thisPlayer.id,
                   challager.questionId)">
            Đồng ý
        </md-button>
        <md-button class=""
                   ng-show="challager"
                   ng-click="refuseInvite(challager.senderId,
                   challager.questionId)">Từ
            chối
        </md-button>
        <p><span>{{vm.countdownPlay}}</span>s</p>
    </div>
    <!--end funstart-->

    <div style="float: right">
        <ul id="notification-list">
            <li id="notification_li">
                <span id="notification_count" ng-if="vm.challagers.length > 0">{{vm.challagers.length}}</span>
                <a href="#" id="notificationLink">Lời mời</a>
                <div id="notificationContainer">
                    <div id="notificationTitle">Danh sách mời chơi</div>
                    <div id="notificationsBody">
                        <md-list ng-show="vm.challagers" style="padding: 0">
                            <!--<md-subheader class="md-no-sticky">Danh sách mời chơi</md-subheader>-->
                            <md-list-item ng-repeat="challager in vm.challagers">
                                <div class="notificationItem">
                                    <div class="notificationContent">
                                        <div class="notificationItem_Image">
                                            <img src={{vm.thisPlayer.avatar}}
                                                 class="notificationItem_playerImage"
                                                 alt="{{challager.senderName}}'s image">
                                        </div>
                                        <div class="notificationItem_Text">
                                            <span class="notificationItem_SenderName">{{ challager.senderName }}</span>
                                            đã thách đấu bạn trong game
                                            <strong>{{ challager.questionName }}</strong>
                                            <span class="notificationItem_DateInvert">{{ challager.time }}</span>
                                        </div>
                                    </div>
                                    <div class="notificationItem_Buttons">
                                        <md-button class="notificationItem_ActionButton" ng-show="challager"
                                                   ng-click="agreeToPlay(challager.senderId, challager.senderName, vm.thisPlayer.id, challager.questionId)">
                                            Đồng ý
                                        </md-button>
                                        <md-button class="notificationItem_ActionButton" ng-show="challager"
                                                   ng-click="refuseInvite(challager.senderId, challager.questionId)">Từ
                                            chối
                                        </md-button>
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                                <!--<p>{{ challager.senderId }}</p>-->
                            </md-list-item>
                        </md-list>
                    </div>
                    <!--<div id="notificationFooter"><a href="#">See All</a></div>-->
                </div>

            </li>
            <!--<li><a href="#">Link4</a></li>-->
        </ul>

    </div>

    <div ng-if="vm.gameProcess === 'beforeGame'"
         class="online-user">
        <!--<md-button class="md-raised" data-ng-click="setOffline(vm.thisPlayer.id)">Set offline</md-button>-->
        <br/>
        <!--<md-button class="md-raised" data-ng-click="findOnlineUsers(vm.thisPlayer.id)">Get list people online</md-button>-->
        <h1>Chủ đề: Trắc nghiệm IQ</h1>
        <div><md-button class="md-accent md-raised" ng-click="take_info()">Lấy thông tin</md-button></div><br/>
        <div><md-button class="md-accent md-raised" ng-click="battle_playGame(1)">Chơi game 1</md-button></div><br/>
        <div><md-button class="md-accent md-raised" ng-click="battle_playGame(2)">Chơi game 2</md-button></div><br/>
        <div><md-button class="md-accent md-raised" ng-click="battle_playGame(3)">Chơi game 3</md-button></div>
        <div><md-button class="md-accent md-raised" ng-click="battle_endGame(1)">Hủy game 1</md-button></div><br/>
        <div><md-button class="md-accent md-raised" ng-click="battle_endGame(2)">Hủy game 2</md-button></div><br/>
        <div><md-button class="md-accent md-raised" ng-click="battle_endGame(3)">Hủy game 3</md-button></div>
    </div>

    <div ng-if="vm.gameProcess === 'inGame'">

    </div>
    <!--<div ng-if="vm.gameProcess === 'inGame';"-->
         <!--id="page-question"-->
         <!--layout="row"-->
         <!--layout-align="space-between stretch">-->
        <!--<div id="GameScreen_middle">-->
            <!--<div id="GameScreen_middle_top"-->
                 <!--layout="row"-->
                 <!--layout-align="space-between start">-->
                <!--<div class="animated bounceInLeft">-->
                    <!--<div ng-show="vm.thisPlayer.id"-->
                         <!--layout="row"-->
                         <!--layout-align="start center">-->
                        <!--<img class="img-circle QuizFightPlayer_avatar"-->
                             <!--src="https://graph.facebook.com/{{vm.thisPlayer.id}}/picture?width=100&height=100"-->
                             <!--alt="{{vm.thisPlayer.name}}">-->
                        <!--<div layout="column"-->
                             <!--layout-align="center start"-->
                             <!--id="QuizFightPlayer_avatar_me">-->
                            <!--<p class="QuizFightPlayer_name">{{vm.thisPlayer.name}}</p>-->
                            <!--<p class="QuizFightPlayer_point">{{vm.thisPlayer.currentScore}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div>-->
                    <!--&lt;!&ndash;<div>Mã phòng: {{vm.roomKey}}</div>&ndash;&gt;-->
                    <!--<div ng-if="vm.result == null"-->
                         <!--layout="column"-->
                         <!--layout-align="center center">-->
                        <!--<p id="GameScreen_time">Thời gian</p>-->
                        <!--<p ng-if="vm.countdown > 0"-->
                           <!--id="GameScreen_timeNumber">{{vm.countdown}}</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="animated bounceInRight">-->
                    <!--<div ng-show="vm.opponent.id"-->
                         <!--layout="row"-->
                         <!--layout-align="end center">-->
                        <!--<div layout="column"-->
                             <!--layout-align="center end"-->
                             <!--id="QuizFightPlayer_avatar_opponent">-->
                            <!--<p class="QuizFightPlayer_name">{{vm.opponent.name}}</p>-->
                            <!--<p class="QuizFightPlayer_point">{{vm.opponent.currentScore}}</p>-->
                        <!--</div>-->
                        <!--<img class="img-circle QuizFightPlayer_avatar"-->
                             <!--src="https://graph.facebook.com/{{vm.opponent.id}}/picture?width=100&height=100"-->
                             <!--alt="{{vm.opponent.name}}">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-if="vm.result == null"-->
                 <!--class="QuizFightQuestion_content">-->
                <!--<div ng-show="vm.question"-->
                     <!--ng-switch="vm.question['t']"-->
                     <!--layout="column"-->
                     <!--layout-align="center center">-->
                    <!--<p class="QuizFightQuestion_text fade-in-fast">{{vm.question['q']}}</p>-->
                    <!--<div ng-show="vm.question['i']">-->
                        <!--<img class="QuizFightQuestion_image fade-in-fast"-->
                             <!--ng-src="{{vm.question['i']}}"-->
                             <!--alt="">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<p class="question fade-in-fast">{{vm.question['as'][1]['c']}}</p>&ndash;&gt;-->
                    <!--<div ng-switch-when=1-->
                         <!--layout="row"-->
                         <!--layout-wrap>-->
                        <!--&lt;!&ndash;layout="row" layout-align="space-around center"&ndash;&gt;-->
                        <!--&lt;!&ndash;ng-class="{'cAnswer': vm.question.a}"&ndash;&gt;-->
                        <!--<div ng-repeat="(indexType1, content) in vm.question.as"-->
                             <!--flex="50"-->
                             <!--layout-padding="40px">-->
                            <!--<md-button class="md-raised QuizFightAnswers fade-in"-->
                                       <!--id="{{indexType1}}"-->
                                       <!--ng-click="isDisabled||answerIs(indexType1, vm.roomKey, vm.thisPlayer.id , $event)">-->
                                <!--<span class="QuizFightAnswer_textAnswers">{{content}}</span>-->
                            <!--</md-button>-->
                            <!--&lt;!&ndash;<br ng-if="i == 2"/>&ndash;&gt;-->
                            <!--&lt;!&ndash;<br ng-if="i === 2">akjfgadjf</br>&ndash;&gt;-->
                            <!--&lt;!&ndash;<h1 ng-if="i == 2">fafljafja</h1>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div layout="row"-->
                         <!--layout-align="space-around center"-->
                         <!--ng-switch-when=2>-->
                        <!--<div ng-repeat="(indexType2, content) in vm.question.as">-->
                            <!--<md-button class="md-raised QuizFightAnswers fade-in"-->
                                       <!--id="{{indexType2}}"-->
                                       <!--ng-click="answerIs(indexType2, vm.roomKey, vm.thisPlayer.id , $event)"-->
                                       <!--ng-disabled="isDisabled">-->
                                <!--<img class="QuizFightAnswer_imageAnswers"-->
                                     <!--ng-src="{{content}}"-->
                                     <!--alt="">-->
                            <!--</md-button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div ng-switch-when=2>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<md-button class="answers fade-in" id="{{$index}}" data-ng-click="answerIs($index, vm.roomKey, vm.thisPlayer.id , $event)" ng-disabled="isDisabled">{{a.c}}</md-button>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button class="md-raised" id="5" data-ng-click="answerIs(1, vm.roomKey, vm.thisPlayer.id , $event)"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-disabled="isDisabled"><img class="img-answer" src="{{vm.question[1]}}" alt="">&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button class="md-raised" id="6" data-ng-click="answerIs(2, vm.roomKey, vm.thisPlayer.id , $event)"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-disabled="isDisabled"><img class="img-answer" src="{{vm.question[2]}}" alt="">&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button class="md-raised" id="7" data-ng-click="answerIs(3, vm.roomKey, vm.thisPlayer.id , $event)"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-disabled="isDisabled"><img class="img-answer" src="{{vm.question[3]}}" alt="">&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button class="md-raised" id="8" data-ng-click="answerIs(4, vm.roomKey, vm.thisPlayer.id , $event)"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-disabled="isDisabled"><img class="img-answer" src="{{vm.question[4]}}" alt="">&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div ng-show="vm.result">&ndash;&gt;-->
            <!--&lt;!&ndash;{{vm.endGame}}&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <div ng-if="vm.gameProcess === 'afterGame'"
         class="EndGameScene EndGameScene__slides"
         layout="column"
         layout-align="start stretch">
        <div class="EndGameHeader">
            <br/>
            <div class="EndGameHeader__title">Kết quả</div>
            <div class="EndGameHeader__topic">
                Chủ đề: Trắc nghiệm IQ.
            </div>
            <div class="EndGameHeader__results EndGameHeader__results--won">
                <span ng-if="vm.thisPlayer.currentScore > vm.opponent.currentScore"
                      class="EndGameHeader__results__text">Chiến thắng
                </span>
                <span ng-if="vm.thisPlayer.currentScore < vm.opponent.currentScore"
                      class="EndGameHeader__results__text">Thua cuộc
                </span>
                <span ng-if="vm.thisPlayer.currentScore == vm.opponent.currentScore"
                      class="EndGameHeader__results__text">Hòa
                </span>
            </div>
        </div>
        <div class="EndGamePlayers u-clearfix"
             layout="row"
             layout-align="center center">
            <div class="EndGamePlayers__player EndGamePlayers__player--me">
                <a class="ProfilePicture" href="">
                    <img class="EndGamePlayers__player__image EndGamePlayers__player__image--me EndGamePlayers__player__image--{{vm.result}}"
                         src="https://graph.facebook.com/{{vm.thisPlayer.id}}/picture?width=100&height=100" alt="">
                </a>
                <div class="EndGamePlayers__player__score EndGamePlayers__player__score--{{vm.result}}">
                    {{vm.thisPlayer.currentScore}}
                </div>
                <a href="">
                    <div class="EndGamePlayers__player__name EndGamePlayers__player__name--{{vm.result}} u-textTruncate">
                        {{vm.thisPlayer.name}}
                    </div>
                </a>
                <div class="EndGamePlayers__player__title u-textTruncate">Gà</div>
                <div class="EndGamePlayers__player__level">Level 100</div>
            </div>
            <!--<svg viewBox="0 0 16 21" class="EndGamePlayers__lightning EndGamePlayers__lightning&#45;&#45;QuizupLightning">-->
            <!--VS-->
            <!--</svg>-->
            <div class="EndGamePlayers__player EndGamePlayers__player--opponent">
                <a class="ProfilePicture"
                   href="">
                    <img class="EndGamePlayers__player__image EndGamePlayers__player__image--opponent EndGamePlayers__player__image--{{vm.otherResult}}"
                         src="https://graph.facebook.com/{{vm.opponent.id}}/picture?width=100&height=100" alt="">
                </a>
                <div class="EndGamePlayers__player__score EndGamePlayers__player__score--{{vm.otherResult}}">
                    {{vm.opponent.currentScore}}
                </div>
                <a href="">
                    <div class="EndGamePlayers__player__name EndGamePlayers__player__name--{{vm.otherResult}} u-textTruncate">
                        {{vm.opponent.name}}
                    </div>
                </a>
                <div class="EndGamePlayers__player__title u-textTruncate u-textTruncate">Kim cương</div>
                <div class="EndGamePlayers__player__level">Level 100</div>
            </div>
        </div>
        <div class="endgame">
            <md-button class="md-raised md-primary">
                Share button (not done ...)
            </md-button>
        </div>
        <h1>F5 to replays ...</h1>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#notificationLink").click(function () {
            $("#notificationContainer").fadeToggle(300);
            $("#notification_count").fadeOut("slow");
            return false;
        });
        //
        //Document Click hiding the popup
        $('body').not("#notificationLink").click(function () {
            console.log('bbb.');
            $("#notificationContainer").hide();
        });

        //Popup on click
        $("#notificationContainer").click(function () {
            return false;
        });
    });
</script>