<script async defer type="text/javascript" src="/js/ads.js"></script>
<script async defer type="text/javascript" src="/js/html2canvas.js"></script>

<div ng-controller="PlayController" ng-init="loadGame()" >
    <!--GAME SCREEN-->
    <div class="game-section" id="contentElement" flex>
        <!--them game vao day-->
        <!--GAME PANEL-->
        <div class="game-area" ng-class="{'full-mode' : battle.status.isFullscreen}">
            <div class="game-frame"
                 ng-if="!isInit" ng-show="isPlay && !isEnd"
                 ng-include="games.currentGame.link"
                 onload="finishLoading()">
            </div>
            <md-progress-linear ng-if="battle.game.time && battle.status.isFullscreen && !isEnd"
                                class="top-progress"
                                md-mode="determinate"
                                value="{{battle.timedown}}">
            </md-progress-linear>
        </div>
        <!--GAME PANEL-->
        <!--<div ng-if="!games.isLoading" ng-include="'/sources/game/9/'" onload="finishLoading()"></div>-->
        <!--GAME INFO PANEL-->
        <div ng-if="!isPlay" class="pre-game" layout="column" layout-align="center center">
            <div class="game-info">
                <md-button aria-label="Thumb" class="md-raised"><img ng-src="{{games.currentGame.thumb}}"></md-button>
                <div class="title">{{games.currentGame.title}}</div>
                <div class="description">{{games.currentGame.des}}</div>
            </div>
            <md-progress-circular ng-if="isLoad"  md-mode="indeterminate" md-diameter="100"></md-progress-circular>
            <md-button aria-label="play"
                       ng-if="!isLoad && (!games.currentGame.multi || games.currentGame.multi <= 1)"
                       ng-click="onPlay()"
                       class="md-raised md-primary btn-play">
                <i class="ion-play"></i>
                <span> Chơi Game</span>
            </md-button>
            <md-button aria-label="find"
                       ng-if="!isLoad && games.currentGame.multi >= 1"
                       ng-click="onBattleCall($event)"
                       class="md-raised md-accent btn-play">
                <i class="ion-android-search"></i>
                <span> Tìm đối thủ</span>
            </md-button>
            <md-button aria-label="createroom"
                       ng-if="!isLoad && games.currentGame.multi >= 1"
                       ng-click="onCreateRoom($event)"
                       class="md-raised md-pink btn-play">
                <i class="ion-android-home"></i>
                <span> Tạo phòng</span>
            </md-button>
        </div>
        <!--GAME INFO PANEL-->
        <!--PLAYERS LIST DESKTOP-->
        <div ng-if="isBattle && (battle.status.isWaitRoom || battle.status.isFullscreen || battle.status.isEndGame)" layout="column" class="full-mode-2" ng-class="{'active':battle.chat.isChat}" >
            <div layout="column" flex  ng-if="battle.status.isFullscreen" hide-xs hide-sm>
                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>Xếp hạng:</span>
                    </h2>
                </md-toolbar>
                <md-content>
                    <md-list>
                        <div class="player-list">
                            <friend-card ng-repeat="item in battle.players | orderBy: battle.orderPlayer"
                                         status-class="statusClass(input)"
                                         game-type="games.currentGame.type"
                                         mode="'game'"
                                         item="item">
                            </friend-card>
                        </div>
                    </md-list>
                </md-content>
            </div>
            <div layout="column" flex>
                <md-toolbar ng-if="battle.status.isWaitRoom || battle.chat.isChat && (battle.status.isFullscreen || battle.status.isEndGame)" class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <md-button aria-label="closechat" class="md-icon-button" style="font-size: 1em" hide-gt-sm ng-click="battle.chat.isChat = false" ><i class="ion-android-arrow-back"></i> </md-button>
                        <span flex>Chat:</span>
                    </h2>
                </md-toolbar>
                <md-content ng-class="{'chat-list':battle.status.isFullscreen,'chat-list-full':!battle.status.isFullscreen}">
                    <message-panel ng-repeat="item in battle.messages" item="item"></message-panel>
                </md-content>
                <div style="height: 64px">
                    <form name="messageForm" style="height: 100%" ng-submit="battle.onSendMessage()">
                        <md-content layout="row" style="height: 100%">
                            <md-input-container flex style="margin: 0;padding: 8px" md-no-float layout="row">
                                <input ng-model="battle.chat.message" type="text" placeholder="Chat ở đây ..." >
                            </md-input-container>
                            <md-button ng-disabled="!battle.chat.message" type="submit" class="md-fab md-mini md-accent" aria-label="More">
                                <i class="ion-android-send"></i>
                            </md-button>
                        </md-content>
                    </form>
                </div>

            </div>
        </div>
        <!--PLAYERS LIST DESKTOP-->
        <!--ROOM PANEL-->
        <div class="full-mode divider-right battle-room" ng-if="battle.status.isWaitRoom && isBattle">
            <md-toolbar class="md-theme-light" hide-sm hide-xs>
                <h2 class="md-toolbar-tools">
                    <span>Phòng chơi:</span>
                </h2>
            </md-toolbar>
            <md-content>
                <div ng-show="battle.isHost" layout="column" layout-padding>
                    <div class="invite-div">
                        <h4>Copy link ở dưới và gửi cho bạn bè:</h4>
                    </div>
                    <div class="invite-div">
                        <md-input-container md-no-float class="md-block">
                            <input onClick="this.select();" class="invite-text" ng-model="battle.room.link">
                        </md-input-container>
                    </div>
                </div>
                <md-tabs md-dynamic-height>
                    <md-tab label="THÀNH VIÊN [{{battle.room.people}}/{{battle.game.max}}]">
                        <md-list>
                        <div ng-class="{'room-list-host': battle.isHost,'room-list': !battle.isHost}">
                            <friend-card ng-repeat="item in battle.room.members"
                                         item="item"
                                         game-type="battle.game.type"
                                         is-host="battle.isHost"
                                         status-class="statusClass(input)"
                                         kick="battle.kickMember(input)"
                                         follow="battle.follow(item,callback)"
                                         unfollow="battle.unfollow(item,callback)"
                                         update-list="battle.updateList(bool,input)"
                                         mode="'room'">
                            </friend-card>
                        </div>

                        </md-list>

                    </md-tab>
                    <md-tab label="HƯỚNG DẪN">
                        <md-list>
                        <div ng-class="{'room-list-host': battle.isHost,'room-list': !battle.isHost}"
                             ng-include="'/app/templates/roomGuide.tmpl.html'">
                        </div>
                        </md-list>
                    </md-tab>
                    <md-tab label="MỜI BẠN ({{battle.friends.data.length}})" ng-click="battle.refreshListInvite()">
                        <md-list>
                            <div ng-class="{'room-list-host': battle.isHost,'room-list': !battle.isHost}"
                                 ng-if="mode=='friend'"
                                 infinite-scroll="battle.refreshListInviteMore()"
                                 infinite-scroll-immediate-check="false"
                                 infinite-scroll-distance="1">
                                <friend-card ng-repeat="item in battle.friends.data"
                                             item="item"
                                             invite="battle.invite(input)"
                                             mode="'invite'">
                                </friend-card>
                                <loading-circle flex="100" is-loading="battle.friends.isLoading"></loading-circle>
                                <div layout-padding
                                     ng-if="battle.friends.data.length==0"
                                     style="font-size: 15px;color: #666">
                                    Không có bạn đang online, hãy add thêm bạn nhé!
                                </div>
                            </div>
                        </md-list>
                    </md-tab>
                    <md-tab label="THÊM BẠN ({{suggestFriends.data.length}})">
                        <md-list>
                            <div ng-class="{'room-list-host': battle.isHost,'room-list': !battle.isHost}"
                                 ng-if="mode=='friend'"
                                 infinite-scroll="suggestFriends.loadMore()"
                                 infinite-scroll-immediate-check="false"
                                 infinite-scroll-distance="1">
                                <friend-card ng-repeat="item in suggestFriends.data"
                                             follow="suggestFriends.follow(input,callback)"
                                             unfollow="suggestFriends.unfollow(input,callback)"
                                             update-list="battle.refreshList(bool,input)"
                                             item="item"
                                             mode="'search'">
                                </friend-card>
                                <loading-circle flex="100" is-loading="suggestFriends.isLoading"></loading-circle>
                            </div>
                        </md-list>
                    </md-tab>
                </md-tabs>
                <md-button aria-label="ready"
                           ng-click="battle.onReady(onPlay)"
                           ng-disabled="battle.isReady"
                           class="md-raised md-primary room-btn">
                    <span ng-if="battle.isHost"><i class="ion-play"></i> Bắt đầu</span>
                    <span ng-if="!battle.isHost"><i class="ion-play"></i> Sẵn sàng</span>
                </md-button>
            </md-content>
        </div>
        <!--ROOM PANEL-->
        <!--PLAYER LIST MOBILE-->
        <div ng-if="battle.status.isFullscreen" class="full-mode-3" hide-md hide-lg hide-gt-lg>
            <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>
                <div md-virtual-repeat="item in battle.players  | orderBy: battle.orderPlayer"
                     class="repeated-item" flex>
                    <div layout="row" style="position: relative">
                        <img class="mini-avatar" ng-src="{{item.avatar}}"/>
                        <div layout="column" layout-align="center start">
                            <h5>{{item.displayName}}</h5>
                            <p ng-if="item.score > 0">Điểm: {{item.score}}</p>
                            <p ng-if="battle.game.type == 1 && item.turn && item.turn !=0">{{item.turn}} lượt nữa</p>
                            <p ng-if="battle.game.type == 1 && item.turn ==0">Đang đánh</p>
                        </div>
                        <div ng-if = "item.connect==0 || item.isDead || item.token"
                             class="status-mobile"
                             layout="row"
                             layout-align="center center">
                            <h5 class="bb" ng-class="statusClass({input:0})"
                                ng-if="(item.connect==0 || item.isDead) && (!item.isWin || item.isWin == false)">
                                Tạch
                            </h5>
                            <h5 class="bb" ng-class="statusClass({input:1})"
                                ng-if="item.isWin == true">
                                Thắng
                            </h5>
                            <h5 class="bb" ng-class="statusClass({input:2})"
                                ng-if="battle.game.type == 1 && (item.isWin==null && item.turn == 0)">
                                Đánh
                            </h5>
                        </div>
                    </div>
                </div>
            </md-virtual-repeat-container>
        </div>
        <!--PLAYER LIST MOBILE-->
        <img ng-show="false" ng-src="{{games.currentGame.thumbResult}}"/>
        <!--RESULT & RECOMMEND-->
        <div ng-if="isEnd"
             ng-class="{'full-mode' : battle.status.isFullscreen}"
             class="recommend-games animate-if"
             layout="column"
             layout-padding
             layout-align="center center">
            <!--RESULT-->
            <div layout="row" layout-wrap style="max-width: 750px">
                <div id="canvan">
                    <div ng-if="result" ng-bind-html="result | trustAsHTML"></div>
                    <div ng-if="!result" style="position: relative">
                        <img style="width: 100%;" ng-src="{{games.currentGame.thumbResult}}"/>
                        <div layout="row" class="canvas-content">
                            <div flex="35" layout="column">
                                <div flex="60" layout="row"></div>
                                <div layout-align="center center"
                                     flex="40"
                                     layout="row"
                                     layout-padding
                                     class="canvas-info">
                                    <p>{{games.currentGame.title}}</p>
                                </div>
                            </div>
                            <div ng-if="!isBattle" flex="65" layout="column">
                                <div style="background: rgba(0,0,0,0.1);" flex="60" layout="row" layout-align="center center">
                                    <div flex="35" layout-padding style="text-align: right">
                                        <img ng-if="$root.user" class="canvas-avatar" ng-src="{{resultObj.image}}">
                                    </div>
                                    <div flex="65" layout-padding class="canvas-info">
                                        <p>{{$root.user.displayName}}</p>
                                        <p>{{resultObj.title}}</p>
                                    </div>
                                </div>
                                <div class="canvas-des"
                                     layout-padding
                                     flex="40"
                                     layout="row"
                                     layout-align="center center">
                                    {{resultObj.des}}
                                </div>
                            </div>
                            <div ng-if="isBattle" flex="65" layout="column">
                                <div style="background: rgba(0,0,0,0.1);" flex="60" layout="row" layout-align="center center">
                                    <div flex="35" layout-padding style="text-align: right">
                                        <img class="canvas-avatar" ng-src="{{$root.user.avatar}}">
                                    </div>
                                    <div flex="30" layout-padding class="canvas-info">
                                        <h1>VS</h1>
                                    </div>
                                    <div flex="35" layout-padding style="text-align: left">
                                        <img class="canvas-avatar" ng-src="{{battle.opponent.avatar}}">
                                    </div>
                                </div>
                                <div class="canvas-des"
                                     layout-padding
                                     flex="40"
                                     layout="row"
                                     layout-align="center center">
                                    {{resultObj.des}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--RESULT-->
            <!--SHARE-->
            <div layout="row" layout-wrap layout-align="center center">
                <md-button aria-label="share"
                           flex-xs="100"
                           ng-disabled="sharing"
                           class="md-raised md-facebook recommend-btn"
                           ng-click="onShareFacebook()">
                    <i class="ion-social-facebook" style="font-size: 1.25em"></i>
                    <span ng-if="!sharing">Chia sẻ điểm</span>
                    <span ng-if="sharing">Đang chia sẻ</span>
                </md-button>
                <md-button aria-label="playagain"
                           ng-if="!isBattle"
                           flex-xs="100"
                           class="md-raised md-accent recommend-btn"
                           ng-click="onPlay()">
                    <i class="ion-refresh" style="font-size: 1.25em"></i>
                    Chơi lại
                </md-button>
                <md-button aria-label="waitroom"
                           ng-if="isBattle"
                           flex-xs="100"
                           class="md-raised md-accent recommend-btn"
                           ng-click="battle.onWaitRoom(onError)">
                    <i class="ion-refresh" style="font-size: 1.25em"></i>
                    Vào phòng chờ
                </md-button>
            </div>
            <!--SHARE-->
            <!--RECOMMEND-->
            <div ng-if="!isBattle" layout="row" class="group-game-card" layout-wrap>
                <game-card ng-repeat="item in games.data track by $index"
                           ng-if="filterMobile($index)"
                           item="item"
                           source="'suggest'"
                           flex="33" flex-sm="50" flex-xs="100"
                           class="recommend-card"></game-card>
            </div>
            <!--RECOMMEND-->
        </div>
        <!--RESULT & RECOMMEND-->
    </div>
    <!--GAME SCREEN-->
    <!--ADS-->
    <div class="mainAds" id="mainAds" style="position: absolute;width: 100%;top: 0;margin: 0 auto 0;z-index: 9999;left: 0;right: 0;">
        <div id="adContainer" ng-click="skipAds()" style="position: relative;margin: 0px auto;"></div>
    </div>
    <!--ADS-->
    <!--BATTLE INTRO-->
    <div ng-if="isBattle" class="spinner-bg animate-if" layout="column" layout-align="center center">
        <div class="search-text" ng-if="battle.status.isSearching">đang tìm kiếm</div>
        <div class="search-text" ng-if="battle.status.isFullRoom">đã tìm thấy</div>
        <div ng-if="battle.status.isSearching" >
            <div class="search-spinner"></div>
        </div>
        <div ng-if="battle.status.isFullRoom">
            <div role="button" ng-click="battle.onReady(onPlay,onError)" class="search-ready">
                <span>Chiến!</span>
            </div>
        </div>
        <div ng-if="battle.status.isReady">
            <div class="search-ready">
                <span>{{battle.room.ready.length}}/{{battle.room.members.length}}</span>
            </div>
        </div>
        <div ng-if="battle.status.isIntro" class="rect-info">
            <div id="rect-orange" class="rect-orange" layout="row" layout-align="end center">
                <div class="fight-info" layout="column" layout-align="center end">
                    <h1 style="text-align: right" id="name-opponent">{{battle.opponent.displayName}}</h1>
                    <h3 ng-if="(battle.room.people - 2)>0"
                        style="text-align: right" id="des-opponent">
                        và {{battle.room.people - 2}} người chơi khác
                    </h3>
                </div>
                <img class="fight-avatar" ng-src="{{battle.opponent.avatar}}"/>
            </div>
            <div id="rect-blue" class="rect-blue" layout="row" layout-align="start center">
                <img class="fight-avatar" ng-src="{{$root.user.avatar}}"/>
                <div class="fight-info" layout="column"  layout-align="center start">
                    <h1>{{::$root.user.displayName}}</h1>
                    <h3>Level {{::$root.user.level}}</h3>
                </div>
            </div>
            <div class="versus-text anim-0">VS</div>
            <div class="versus-text anim-3">3</div>
            <div class="versus-text anim-2">2</div>
            <div class="versus-text anim-1">1</div>
        </div>

    </div>
    <!--BATTLE INTRO-->

    <!--CLOSE BATTLE-->
    <md-button aria-label="close"
               ng-if="isBattle"
               ng-show="!battle.chat.isChat"
               ng-click="onCloseBattle()"
               class="search-close-btn md-icon-button">
        <i class="ion-close-circled"></i>
    </md-button>
    <!--CLOSE BATTLE-->

    <!--ROOM LOADING-->
    <div layout="row"
         layout-align="center center"
         class="loading-battle"
         ng-if="battle.isLoading">
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="100"></md-progress-circular>
    </div>
    <!--ROOM LOADING-->
    <div ng-if="isBattle && (battle.status.isWaitRoom || battle.status.isFullscreen || battle.status.isEndGame)" ng-show="!battle.chat.isChat" hide-gt-sm id="chat-btn" role="button" ng-click="battle.onViewChat()" class="chat-btn" ng-class="{'active':battle.chat.isNew}">
        <img style="width: 100%" ng-src="{{battle.chat.avatar}}">
        <span>CHAT</span>
        <div ng-show="battle.chat.isNew"><i class="ion-alert"></i></div>
    </div>
    <div ng-click="battle.chat.isChat = false" ng-if="isBattle && battle.chat.isChat" class="shadow-chat"></div>
</div>