

<div ng-controller="SigninController" layout="row" layout-wrap>
    <div flex="50" flex-xs="100" layout-padding>
        <md-content layout-padding>
            <form name="signupForm"  ng-submit="onSignup()">
                <md-select-header><h1>ĐĂNG KÝ</h1></md-select-header>
                <md-input-container class="md-block">
                    <label>Email: </label>
                    <input required name="signupEmail" type="email" ng-model="signupModel.email" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="signupForm.signupEmail.$error">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mật khẩu</label>
                    <input required type="password" name="signupPassword" ng-model="signupModel.password" minlength="5"/>
                    <div ng-messages="signupForm.signupPassword.$error" role="alert">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="minlength">
                            Password phải trên 5 ký tự.
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" style="width: 100%;margin: auto" class="md-raised md-primary">Đăng ký</md-button>
            </form>
        </md-content>
    </div>
    <div flex="50" flex-xs="100" layout-padding>
        <md-content layout-padding>
            <form name="signinForm"  ng-submit="onSignin()">
                <md-select-header><h1>ĐĂNG NHẬP</h1></md-select-header>
                <md-input-container class="md-block">
                    <label>Tài khoản: </label>
                    <input required name="signinEmail" type="email" ng-model="signinModel.email" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="signinForm.signinEmail.$error">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mật khẩu</label>
                    <input required type="password" name="signinPassword" ng-model="signinModel.password"/>
                    <div ng-messages="signinForm.signinPassword.$error" role="alert">
                        <div ng-message="required">Bắt buộc.</div>
                    </div>
                </md-input-container>
                <md-button type="submit" style="width: 100%;margin: auto" class="md-raised">Đăng nhập</md-button>
            </form>
            <md-button style="width: 100%;margin: auto" class="md-raised md-primary" ng-click="onLoginFacebook()">Đăng nhập facebook</md-button>
        </md-content>
        <!--<a ng-href="/oauth/facebook">Login</a>-->


    </div>



</div>