<div ng-controller="GamesController" ng-init="loadGames()">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="GAME MỚI" ng-click="doOrder('created')">
                <div layout="row" layout-wrap class="group-game-card"
                     infinite-scroll="loadMore()"
                     infinite-scroll-immediate-check="false"
                     infinite-scroll-distance="1">
                    <loading-circle flex="100" is-loading="games.isLoading"></loading-circle>
                    <game-card ng-repeat="item in games.data" item="item" source="'topic'" flex="33" flex-md="50" flex-sm="50" flex-xs="100"></game-card>
                </div>
            </md-tab>
            <md-tab label="GAME HOT" ng-click="doOrder('hot')">
                <div layout="row" layout-wrap class="group-game-card"
                     infinite-scroll="loadMore()"
                     infinite-scroll-immediate-check="false"
                     infinite-scroll-distance="1">
                    <loading-circle flex="100" is-loading="games.isLoading"></loading-circle>
                    <game-card ng-repeat="item in games.data" item="item" source="'topic'" flex="33" flex-md="50" flex-sm="50" flex-xs="100"></game-card>
                </div>
            </md-tab>
            <md-tab label="GAME TOP" ng-click="doOrder('top')">
                <div layout="row" layout-wrap class="group-game-card"
                     infinite-scroll="loadMore()"
                     infinite-scroll-immediate-check="false"
                     infinite-scroll-distance="1">
                    <loading-circle flex="100" is-loading="games.isLoading"></loading-circle>
                    <game-card ng-repeat="item in games.data" item="item" source="'topic'" flex="33" flex-md="50" flex-sm="50" flex-xs="100"></game-card>
                </div>
            </md-tab>
        </md-tabs>

</div>