<md-card>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Cây kỹ năng">
            <div layout="row" layout-wrap
                 infinite-scroll="loadMore()"
                 infinite-scroll-immediate-check="false"
                 infinite-scroll-distance="1">
                <loading-circle flex="100"></loading-circle>

            </div>
        </md-tab>
        <md-tab label="Lịch sử chơi">
            <div layout="row" layout-wrap
                 infinite-scroll="loadMore()"
                 infinite-scroll-immediate-check="false"
                 infinite-scroll-distance="1">
                <loading-circle flex="100"></loading-circle>
            </div>
        </md-tab>
    </md-tabs>

</md-card>