.submenu-icon{
    min-width: 10px;
    padding-right: 5px;
    text-align: right;
}

.submenu-thumb{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
