.submenu-icon{
    min-width: 10px;
    padding-right: 5px;
    text-align: right;
}

.submenu-thumb{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.dropdown-user{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}