<div class="card card-product" data-count="3" on-mouseover='over()' on-mouseleave='leave()'>
    <div class="card-image" data-header-animation="true">
        <a [routerLink]="['/game', game._id]">
            <img class="img" [src]="game.thumb">
            <div [hidden]="!isDisplay" class="video">
                <video class="videoPlayer" width="100%" height="100%" muted loop #videoPlayer>
                    <source [src]="game.thumbVideo" type="video/mp4">
                </video>
            </div>
        </a>
        <div class="ripple-container"></div>
    </div>
    <div class="card-content">
        <div class="card-actions">
            <i class="ion-play"></i> {{game.plays}} plays
        </div>
        <p class="card-title">
            <a [routerLink]="['/game', game._id]" (click)="scrollTop()">
                <!--<a href="game/{{game._id}}">-->
                {{game.title}}
            </a>
        </p>
        <div class="card-description">
            {{game.des}}
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-md" [routerLink]="['/game', game._id]" (click)="scrollTop()"> <i class="ion-flash"></i> PLAY NOW</a>
    </div>
</div>