<div class="activity-panel" ng-class="{'solo': !item.opponents.length,'battle': item.opponents.length}">
    <div class="activity-line"></div>
    <div class="activity-point"></div>
    <h4 ng-bind="item.created | timeAgo"></h4>
    <div class="activity-info" layout-align="start center">
        <span>Chơi</span>
        <img ng-src="{{::item.game.thumb}}">
        <a ng-href="/game/{{::item.game._id}}?utm_campaign=tracking&utm_source=activity&utm_medium={{$root.login}}">{{::item.game.title}}</a>
        <span ng-if="!item.opponents.length"> đạt {{item.score}} điểm</span>
        <span ng-if="item.opponents.length"> và </span>
        <span ng-if="item.opponents.length && item.isWin" class="title win"> CHIẾN THẮNG </span>
        <span ng-if="item.opponents.length && !item.isWin" class="title lose"> THUA CUỘC </span>
        <div class="activity-opponent" ng-class="{'win': item.isWin,'lose': !item.isWin}" ng-repeat="opponent in item.opponents">
            <img ng-src="{{opponent.avatar}}"><a ng-click="$root.onViewProfile(opponent, $event)" class="name">{{opponent.displayName}}</a>
        </div>
    </div>
</div>