<div ng-controller="AuthController">
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Đăng nhập">
        <md-content class="md-padding">
            <div class="error-form" ng-if="errorSignin" ng-bind="errorSignin"></div>
            <form name="signinForm" ng-submit="onSignin()">
                <md-input-container class="md-block">
                    <label>Email: </label>
                    <input required name="signinEmail" type="email" ng-model="signinModel.username" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="signinForm.signinEmail.$error">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mật khẩu</label>
                    <input required type="password" name="signinPassword" ng-model="signinModel.password"/>
                    <div ng-messages="signinForm.signinPassword.$error" role="alert">
                        <div ng-message="required">Bắt buộc.</div>
                    </div>
                </md-input-container>
                <md-button type="submit" style="width: 100%;margin: auto" ng-disabled="submitting" aria-label="signin-submit" class="md-raised md-accent">
                    <span ng-if="!submitting">Đăng nhập</span>
                    <span ng-if="submitting">Đang đăng nhập</span>
                </md-button>
            </form>
            <md-button href="/oauth/facebook?redirect={{location}}" target="_self" style="width: 100%;margin: auto;margin-top: 10px" ng-disabled="submitting" class="md-raised md-facebook" aria-label="signin-facebook-submit">
                <span ng-if="!submitting">Đăng nhập Facebook</span>
                <span ng-if="submitting">Đang đăng nhập</span>
            </md-button>
            <div class="fb-description">*Sử dụng Facebook để đăng ký và đăng nhập</div>
        </md-content>
    </md-tab>
    <md-tab label="Đăng ký">
        <md-content class="md-padding">
            <div class="error-form" ng-if="errorSignup" ng-bind="errorSignup"></div>
            <form name="signupForm" ng-submit="onSignup()">
                <md-input-container class="md-block">
                    <label>Email: </label>
                    <input required name="signupEmail" type="email" ng-model="signupModel.email" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="signupForm.signupEmail.$error">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Username: </label>
                    <input required name="signupUsername" type="text" ng-model="signupModel.username" ng-pattern="/^[A-Za-z0-9_.]{1,15}$/">
                    <div ng-messages="signupForm.signupUsername.$error">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="pattern">Yêu cầu dưới 15 ký tự và không chứa ký tự đặc biệt</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mật khẩu</label>
                    <input required type="password" name="signupPassword" ng-model="signupModel.password" minlength="5"/>
                    <div ng-messages="signupForm.signupPassword.$error" role="alert">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="minlength">
                            Password phải trên 5 ký tự.
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" style="width: 100%;margin: auto" ng-disabled="submitting" aria-label="signup-submit" class="md-raised md-primary">
                    <span ng-if="!submitting">Đăng ký</span>
                    <span ng-if="submitting">Đang đăng ký</span>
                </md-button>
            </form>
        </md-content>
    </md-tab>
    <md-tab label="Gặp sự cố?">
        <md-content class="md-padding">
            <div class="error-form" ng-if="errorAction" ng-bind="errorAction"></div>
            <div class="success-form" ng-if="successAction" ng-bind="successAction"></div>
            <form name="actionForm" ng-submit="onReset()">
                <md-input-container class="md-block">
                    <label>Email: </label>
                    <input required name="actionEmail" type="email" ng-model="action.email" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="actionForm.actionEmail.$error">
                        <div ng-message="required">Bắt buộc.</div>
                        <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-button flex="100" type="submit" class="md-raised md-primary" aria-label="forgot-password">Khôi phục mật khẩu</md-button>
                    <!--<md-button flex="50" ng-click="onAction('verify')" class="md-raised md-primary"aria-label="verify-account">Xác nhận tài khoản</md-button>-->
                </div>
            </form>
        </md-content>
    </md-tab>
</md-tabs>
</div>