<md-dialog aria-label="Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Tài khoản</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="close" ng-click="cancel()">
                <i class="ion-android-close" style="font-size: 2em"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ng-if="!$root.user" class="dialog-signin">
        <auth-tabs></auth-tabs>
    </md-dialog-content>
    <md-dialog-content ng-if="$root.user" ng-controller="AuthController" class="dialog-signin" layout-padding>
        <h2 layout="row" layout-align="center">Bạn muốn đăng xuất?</h2>
        <div layout="row">
            <md-button flex="50" ng-click="onSignOut()" aria-label="signout" class="md-raised">Có</md-button>
            <md-button flex="50" ng-click="cancel()" aria-label="cancel" class="md-raised md-primary">Không</md-button>
        </div>
    </md-dialog-content>
</md-dialog>