<md-list-item class="md-3-line friend-item">
    <a class="a-item"><img ng-src="{{::item.avatar}}" class="md-avatar"></a>
    <div class="md-list-item-text">
        <a ng-click="onViewProfile($event)" class="a-item" style="cursor: pointer"><h4>{{::item.displayName}}</h4></a>
        <p ng-if="mode=='friend' || mode=='search' || mode=='invite'" class="clearfix">Level {{::item.level}}</p>
        <p ng-if="mode=='room'" class="clearfix">@{{::item.username}}</p>
        <p class="clearfix" ng-if="mode == 'game'">Điểm: <b>{{item.score}}</b></p>
        <p ng-if="item.turn && item.turn!=0 && gameType == 1" class="clearfix">{{item.turn}} lượt nữa</p>
    </div>
    <h5 class="bb"
        ng-class="statusClass({input:0})"
        ng-if="mode == 'game' && (item.connect==0 || item.isDead) && (!item.isWin || item.isWin == false)">
        Tạch
    </h5>
    <h5 class="bb"
        ng-class="statusClass({input:1})"
        ng-if="mode == 'game' && item.isWin == true">Thắng</h5>
    <h5 class="bb"
        ng-class="statusClass({input:2})"
        ng-if="mode == 'game' && gameType == 1 && (item.isWin==null && item.turn == 0)">
        Đánh
    </h5>
    <h5 ng-if="mode=='friend'">Học sĩ</h5>
    <md-button aria-label="ready"
               ng-if="mode == 'room' && item.isReady"
               style="margin-right: 5px;background-color: rgb(241,112,47)"
               ng-disabled="true"
               class="md-fab md-mini md-primary">
        R
    </md-button>
    <md-button aria-label="invite"
               ng-click="invite({input: item})"
               ng-disabled="item.isInvited"
               ng-if="mode=='invite'"
               class="md-raised md-primary">
        <span ng-if="item.isInvited">Đã mời</span>
        <span ng-if="!item.isInvited"><i class="ion-android-add"></i> Mời</span>
    </md-button>
    <md-button aria-label="follow"
               ng-disabled="isLoading"
               ng-click="isLoading = true;follow({input: item, callback: updateFollow})"
               ng-if="(mode=='room' || mode=='search') && !item.isFriend && item._id != $root.user._id"
               class="md-fab md-mini md-primary">
        <md-tooltip md-direction="bottom">
            Kết bạn
        </md-tooltip>
        <span ng-if="!isLoading"><i class="ion-person-add"></i></span>
        <span ng-if="isLoading"><i class="ion-android-more-horizontal"></i></span>
    </md-button>
    <md-button aria-label="unfollow" ng-disabled="isLoading"
               ng-click="isLoading = true;unfollow({input: item, callback: updateUnfollow})"
               ng-if="(mode=='room' || mode=='search') && item.isFriend == true && item._id != $root.user._id"
               class="md-fab md-mini md-accent">
        <md-tooltip md-direction="bottom">
            Hủy kết bạn
        </md-tooltip>
        <span ng-if="!isLoading"><i class="ion-person-stalker"></i></span>
        <span ng-if="isLoading"><i class="ion-android-more-horizontal"></i></span>
    </md-button>
    <md-button aria-label="ready" ng-click="kick({input: item})" ng-if="mode=='room' && isHost" class="md-icon-button"><i class="ion-close-circled"></i></md-button>
    <!--<md-button ng-click="follow({input: item, callback: updateFriendList({bool:true,input:item})})" ng-if="" class="md-raised md-primary"><i class="ion-android-add"></i> Thêm</md-button>-->
    <!--<md-button class="md-raised md-accent"><i class="ion-android-done"></i> Bạn</md-button>-->
</md-list-item>