<md-card class="game-card" layout="row" layout-wrap>
        <div flex="33">
            <md-button ng-href="/game/{{::item._id}}?utm_campaign=tracking&utm_source={{source}}" class="md-raised" aria-label="Thumb"><img ng-src="{{::item.thumb}}"></md-button>
        </div>
        <div flex="66">
            <div class="title"><a ng-href="/game/{{::item._id}}?utm_campaign=tracking&utm_source={{source}}">{{::item.title}}</a></div>
            <div class="description">{{::item.des}}</div>
            <div class="topic"><i ng-class="::item.topic.icon"></i>{{::item.topic.name}}</div>
        </div>
</md-card>