<div ng-if="item.type==1" class="message-panel" layout="row" layout-align="start center">
    <span flex="10" style="height: 100%">
        <img class="message-avatar" ng-src="{{item.avatar}}">
        <md-tooltip md-direction="bottom">{{item.displayName}}</md-tooltip>
    </span>
    <div flex><span class="message-bubble">{{item.message}}</span></div>
    <div flex="10"></div>
</div>
<div ng-if="item.type==0" class="message-panel" layout="row" layout-align="start center">
    <div flex="10"></div>
    <div flex><span class="message-bubble-me">{{item.message}}</span></div>
    <div flex="10" style="height: 100%">
        <img class="message-avatar" ng-src="{{item.avatar}}">
        <md-tooltip md-direction="bottom">{{item.displayName}}</md-tooltip>
    </div>
</div>
<div ng-if="item.type==2" class="message-panel" layout="row" layout-align="start center">
    <span style="width: 24px;height: 24px">
        <img class="message-avatar" ng-src="{{item.avatar}}">
    </span>
    <div layout-align="start center" style="margin-left: 10px">
        <div class="message-name"><a ng-click="$root.onViewProfile(item, $event)" class="name">{{item.displayName}}</a></div>
        <div class="message-description" ng-bind="item.time"></div>
    </div>

    <div flex><span class="message-bubble">{{item.message}}</span></div>
</div>
