<md-list-item class="md-3-line quest-item" ng-href="/game/{{::item.quest.game._id}}" ng-class="{'mission-finish':item.point==item.quest.goal}">
    <img ng-if="item.point!=item.quest.goal" ng-src="{{::item.quest.game.thumb}}" class="md-avatar">
    <img ng-if="item.point==item.quest.goal" src="/img/star.svg" class="md-avatar">
    <div class="md-list-item-text">
        <h3><b>{{::item.quest.game.title}}</b></h3>
            <md-chips>
                <md-chip class="md-primary"><div class="chip-percent" ng-style="{'width':''+(item.point/item.quest.goal*100)+'%'}"></div><div class="chip-text">{{item.point}}/{{item.quest.goal}} <span ng-if="item.quest.type == 0">lần</span><span ng-if="item.quest.type == 1">điểm</span></div></md-chip>
                <md-chip class="md-accent">{{::item.quest.reward}} XP</md-chip>
            </md-chips>
        <p class="clearfix">{{::item.remain}}</p>
    </div>
</md-list-item>