<md-toolbar class="md-hue-2" ng-controller="NavbarController" ng-init="initNavbar()">
    <div class="md-toolbar-tools">
        <md-button layout="column" class="md-icon-button nav-icon" aria-label="Menu" ng-click="toggleLeft()"
                   class="md-primary" hide-gt-sm>
            <i ng-class="{'ion-android-menu':!isOpenRight(),'ion-android-close':isOpenRight()}" ></i>
        </md-button>
        <md-button ng-if="!isSearching" aria-label="Logo" ng-href="/">
        <img style="height:20px;margin-top: 10px" src="img/logofunstart.svg">
        </md-button>
        <md-menu hide-sm hide-xs md-offset="0px 44px">
            <md-button md-autofocus aria-label="Open menu" ng-click="openMenu($mdOpenMenu, $event)">
                Khám phá <i class="ion-android-arrow-dropdown"></i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in games.data | limitTo: 6">
                    <md-button ng-href="/game/{{::item._id}}?utm_campaign=tracking&utm_source=explorer&utm_medium={{$root.login}}"><img class="thumb-search" style="padding-right: 5px" ng-src="{{::item.thumb}}"> <span class="title-search"> {{::item.title}}</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu hide-sm hide-xs md-offset="15px 50px">
            <md-button aria-label="Open menu" ng-click="openMenu($mdOpenMenu, $event)">
                Thể loại <i class="ion-android-arrow-dropdown"></i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in $root.topics">
                    <md-button ng-href="/topic/{{::item._id}}"> <span md-menu-align-target ng-class="item.icon" style="padding-right: 5px" > </span> {{::item.name}} </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <div ng-if="isDisplaySearch()" class="search-panel" layout-margin flex-sm flex-xs ng-mouseenter="closeMenu($event)">
            <form ng-submit="$event.preventDefault()" class="search-form">
                <md-autocomplete md-selected-item="selectedItem"
                                 md-search-text="searchText"
                                 md-autofocus="isSearching"
                                 md-delay="300"
                                 id="md-nav-search"
                                 md-menu-class="search-menu"
                                 md-selected-item-change="gotoLink(selectedItem)"
                                 md-items="item in querySearch(searchText)"
                                 placeholder="tìm kiếm ..."
                                 md-item-text="item.title">
                    <md-item-template>
                        <img class="thumb-search" ng-src="{{::item.thumb}}"/>
                        <span class="title-search" md-highlight-text="searchText">{{::item.title}}</span>
                    </md-item-template>
                    <md-not-found>
                        Không tìm thấy.
                    </md-not-found>
                </md-autocomplete>
                <div class="search-form-icon"><i class="ion-android-search"></i></div>
            </form>
        </div>
        <span flex ng-if="!isSearching"></span>
        <md-button layout="column" class="md-icon-button nav-icon" aria-label="Search" ng-click="isSearching = isSearching?false:true;"
                   ng-hide="isOpenRight()"
                   hide-gt-sm
                   class="md-primary">
            <i ng-if="isSearching" class="ion-android-close"></i>
            <i ng-if="!isSearching" class="ion-android-search"></i>
        </md-button>
        <md-button layout="column" class="md-icon-button nav-icon" aria-label="User" ng-click="toggleRight()"
                   ng-hide="isOpenRight()"
                   hide-gt-sm
                   class="md-primary">
            <i ng-if="isOpenLeft()" class="ion-android-close"></i>
            <div ng-if="!isOpenLeft()">
                <img ng-if="$root.user" ng-src="{{$root.profile.data.avatar}}">
                <i ng-if="!$root.user" class="ion-log-in"></i>
            </div>

        </md-button>

        <div hide-sm hide-xs>
            <md-button ng-if="$root.user" aria-label="Favorite" ng-click="showSigninDialog($event)">
                <i class="ion-log-out"></i> <span>Đăng xuất</span>
            </md-button>
            <md-button ng-if="!$root.user" aria-label="Favorite" ng-click="showSigninDialog($event)">
            <i class="ion-log-in"></i> <span>Đăng nhập</span>
            </md-button>
        </div>

    </div>
</md-toolbar>
