<md-card>
    <loading-circle is-loading="info.isLoading"></loading-circle>
    <md-card-title class="md-card-title" ng-if="!info.isLoading">
        <md-card-title-media class="md-card-media">
            <div class="md-media-md card-media">
                <img style="width: 110px;" ng-src="{{info.data.avatar}}"/>
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <span class="title">{{info.data.displayName}}</span>
            <div layout="column" style="margin-top: 5px">
                <div class="description">
                    <md-icon><i class="ion-play"> <md-tooltip>Đã chơi</md-tooltip></i></md-icon>{{info.data.games}} games
                </div>
                <div class="description" ng-if="info.data.win || info.data.lose">
                    <md-icon><i class="ion-ribbon-a"><md-tooltip>Tỉ lệ thắng</md-tooltip></i></md-icon><span ng-bind="info.data | winPercent"></span>%</span>
                </div>
                <div class="description">
                    <md-icon><i class="ion-android-time"><md-tooltip>Online</md-tooltip></i></md-icon><span ng-bind="info.data.active | timeAgo"></span>
                </div>
                <div class="description">
                    <md-icon><i class="ion-android-people"><md-tooltip>Bạn bè</md-tooltip></i></md-icon><span ng-bind="info.data.friends.length"></span> bạn
                </div>
            </div>
        </md-card-title-text>

    </md-card-title>
    <md-card-actions class="md-card-action" ng-if="!info.isLoading" layout="row" layout-align="space-between center">
        <div class="top-stat top" ng-if="info.data.rank < 100"><span><i class="ion-trophy"><md-tooltip>Xếp hạng</md-tooltip></i>{{info.data.rank}}</span></div>
        <md-button flex ng-click="$root.popupProfile = null" ng-href="/user/{{info.data.username}}?utm_campaign=track&utm_source=profile&utm_medium={{$root.login}}" class="md-raised md-primary profile-btn">Xem trang</md-button>
        <div class="top-stat level" ><span>Lv. {{info.data.level}}<md-tooltip>Xếp hạng</md-tooltip></span></div>
    </md-card-actions>

</md-card>