<!--<loading-circle is-loading="capturing"></loading-circle>-->
<md-dialog class="dialog-share" layout-padding layout-align="center center">
    <img class="share-trophy" ng-src="{{image}}">
    <div class="share-text">Điểm của bạn cao hơn {{percent}}% người chơi còn lại</div>
    <div class="share-text" style="text-transform: uppercase">Chia sẻ để khoe với bạn bè ngay!</div>
    <img class="share-image" ng-src="{{capturedImage}}">
    <md-button style="width: 100%" ng-click="onShareFacebook()" class="md-raised md-facebook">Chia sẻ lên tường</md-button>
</md-dialog>