<md-dialog aria-label="Signin Dialog" ng-controller="AuthController" >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Tài khoản</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="close" ng-click="cancel()">
                    <i class="ion-android-close" style="font-size: 2em"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ng-if="!$root.user" class="dialog-signin">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Đăng nhập">
                    <md-content class="md-padding">
                        <div class="error-form" ng-if="errorSignin" ng-bind="errorSignin"></div>
                        <form name="signinForm" ng-submit="onSignin()">
                            <md-input-container class="md-block">
                                <label>Email: </label>
                                <input required name="signinEmail" type="email" ng-model="signinModel.email" ng-pattern="/^.+@.+\..+$/">
                                <div ng-messages="signinForm.signinEmail.$error">
                                    <div ng-message="required">Bắt buộc.</div>
                                    <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Mật khẩu</label>
                                <input required type="password" name="signinPassword" ng-model="signinModel.password"/>
                                <div ng-messages="signinForm.signinPassword.$error" role="alert">
                                    <div ng-message="required">Bắt buộc.</div>
                                </div>
                            </md-input-container>
                            <md-button type="submit" style="width: 100%;margin: auto" ng-disabled="submitting" aria-label="signin-submit" class="md-raised md-primary">
                                <span ng-if="!submitting">Đăng nhập</span>
                                <span ng-if="submitting">Đang đăng nhập</span>
                            </md-button>
                        </form>
                        <md-button ng-href="/oauth/facebook"  target="_blank" style="width: 100%;margin: auto;margin-top: 10px" ng-disabled="submitting" class="md-raised md-facebook" aria-label="signin-facebook-submit">
                            <span ng-if="!submitting">Đăng nhập Facebook</span>
                            <span ng-if="submitting">Đang đăng nhập</span>
                        </md-button>
                    </md-content>
                </md-tab>
                <md-tab label="Đăng ký">
                    <md-content class="md-padding">
                        <div class="error-form" ng-if="errorSignup" ng-bind="errorSignup"></div>
                        <form name="signupForm" ng-submit="onSignup()">
                            <md-input-container class="md-block">
                                <label>Email: </label>
                                <input required name="signupEmail" type="email" ng-model="signupModel.email" ng-pattern="/^.+@.+\..+$/">
                                <div ng-messages="signupForm.signupEmail.$error">
                                    <div ng-message="required">Bắt buộc.</div>
                                    <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Mật khẩu</label>
                                <input required type="password" name="signupPassword" ng-model="signupModel.password" minlength="5"/>
                                <div ng-messages="signupForm.signupPassword.$error" role="alert">
                                    <div ng-message="required">Bắt buộc.</div>
                                    <div ng-message="minlength">
                                        Password phải trên 5 ký tự.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-button type="submit" style="width: 100%;margin: auto" ng-disabled="submitting" aria-label="signup-submit" class="md-raised md-primary">
                                <span ng-if="!submitting">Đăng ký</span>
                                <span ng-if="submitting">Đang đăng ký</span>
                            </md-button>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="Gặp sự cố?">
                    <md-content class="md-padding">
                        <div class="error-form" ng-if="errorAction" ng-bind="errorAction"></div>
                        <div class="success-form" ng-if="successAction" ng-bind="successAction"></div>
                        <form name="actionForm" ng-submit="onAction('forgot')">
                            <md-input-container class="md-block">
                            <label>Email: </label>
                            <input required name="actionEmail" type="email" ng-model="action.email" ng-pattern="/^.+@.+\..+$/">
                            <div ng-messages="actionForm.actionEmail.$error">
                                <div ng-message="required">Bắt buộc.</div>
                                <div ng-message="pattern">Bạn phải điền vào 1 email.</div>
                            </div>
                            </md-input-container>
                            <div layout="row">
                                <md-button flex="100" type="submit" class="md-raised md-primary" aria-label="forgot-password">Khôi phục mật khẩu</md-button>
                                <!--<md-button flex="50" ng-click="onAction('verify')" class="md-raised md-primary"aria-label="verify-account">Xác nhận tài khoản</md-button>-->
                            </div>
                        </form>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-content ng-if="$root.user" class="dialog-signin" layout-padding>
            <h2 layout="row" layout-align="center">Bạn muốn đăng xuất?</h2>
            <div layout="row">
                <md-button flex="50" ng-click="onSignOut()" aria-label="signout" class="md-raised">Có</md-button>
                <md-button flex="50" ng-click="cancel()" aria-label="cancel" class="md-raised md-primary">Không</md-button>
            </div>
        </md-dialog-content>
</md-dialog>