    <div layout="row" hide-md hide-lg ng-controller="NavbarController">
        <md-button ng-if="!$root.user" aria-label="Favorite" ng-click="showSigninDialog($event)">
            <i class="ion-log-in"></i> <span>Đăng nhập</span>
        </md-button>
    </div>
    <md-card ng-if="!$root.user">
        <md-card-content>
            <img src="/img/adsdn.jpg">
        </md-card-content>
    </md-card>

    <section ng-if="$root.user" ng-controller="UserController" ng-init="loadUser()">
        <user-card data="data"
                   check-user="checkUser()"
                   follow="userInfo.follow(callback)"
                   unfollow="userInfo.unfollow(callback)"
                   update-friend-list = "updateFriendList(bool,input)">
        </user-card>
        <div layout="row" hide-md hide-lg ng-controller="NavbarController">
            <md-button ng-if="checkUser() == 1" aria-label="Favorite" ng-click="showSigninDialog($event)">
                <i class="ion-log-out"></i> <span>Đăng xuất</span>
            </md-button>
        </div>

        <md-card>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Danh sách bạn:</span>
                </h2>
            </md-toolbar>
            <md-content>
                <md-list>

                    <div class="friend-list"
                         ng-if="mode=='search'"
                         infinite-scroll="suggest.loadMore()"
                         infinite-scroll-immediate-check="false"
                         infinite-scroll-distance="1">
                        <friend-card ng-repeat="item in suggest.data"
                                     follow="suggest.follow(input,callback)"
                                     unfollow="suggest.unfollow(input,callback)"
                                     update-friend-list = "updateFriendList(bool,input)"
                                     item="item"
                                     mode="mode">

                        </friend-card>
                        <loading-circle flex="100" is-loading="suggest.isLoading"></loading-circle>
                    </div>
                    <div class="friend-list"
                         ng-if="mode=='friend'"
                         infinite-scroll="friends.loadMore()"
                         infinite-scroll-immediate-check="false"
                         infinite-scroll-distance="1">
                        <friend-card ng-repeat="item in friends.data"
                                     item="item"
                                     mode="mode">
                        </friend-card>
                        <loading-circle flex="100" is-loading="friends.isLoading"></loading-circle>
                    </div>
                    <div ng-if="checkUser() == 1" layout="row" layout-align="center center" layout-margin>
                        <md-button ng-click="changeMode()" class="md-raised md-facebook find-btn" >
                            <span ng-if="mode=='friend'"><i class="ion-android-add"></i> Tìm bạn trên facebook</span>
                            <span ng-if="mode=='search'"><i class="ion-android-arrow-back"></i> Quay lại</span>
                        </md-button>
                    </div>

                </md-list>
            </md-content>
        </md-card>
        <md-card ng-if="checkUser() == 1">
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Nhiệm vụ trong ngày:</span>
                </h2>
            </md-toolbar>
            <md-content>
                <md-list>
                    <loading-circle flex="100" is-loading="$root.missions.isLoading"></loading-circle>
                    <mission-card ng-repeat="item in $root.missions.data track by $index" item="item"></mission-card>
                </md-list>
            </md-content>
        </md-card>
</section>