<md-card>
    <md-card-header>
        <md-card-avatar>
            <a class="a-item" ng-href="/user/{{data.username}}"><img class="md-user-avatar" ng-src="{{data.avatar}}"/></a>
        </md-card-avatar>
        <md-card-header-text>
            <a class="a-item" ng-href="/user/{{data.username}}"><span class="md-title user-title" ng-bind="data.displayName"></span></a>
            <div class="user-subhead">
                <img class="title-class" src="/img/class0.svg">
            </div>
        </md-card-header-text>
        <md-button class="md-fab md-mini" style="font-size: 0.85em;font-weight: bold;text-transform: none" aria-label="Explorer" ng-click="faded=!faded">
           Lv.{{data.level}}
        </md-button>

    </md-card-header>
    <div style="position: relative">
        <div class="exp-text">EXP</div>
        <md-progress-linear class="exp-progress" md-mode="determinate" value="{{data | expPercent}}"></md-progress-linear>
        <md-tooltip>
            {{data.exp}}/{{data.next}}
        </md-tooltip>
    </div>
    <div style="position: relative" id="hex-container" ng-class="{'faded': faded}" >
        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
        <div class="hex hex-gap hex-gap-1">
            <div class="corner corner-1"></div>
            <div class="corner corner-2"></div>
            <div class="corner corner-3"></div>
        </div>

        <div class="hex point"></div>
        <div class="hex-svg"></div>
        <div class="hex point-user" id="hex-point-0"></div>
        <div class="hex point-user" id="hex-point-1"></div>
        <div class="hex point-user" id="hex-point-2"></div>
        <div class="hex point-user" id="hex-point-3"></div>
        <div class="hex point-user" id="hex-point-4"></div>
        <div class="hex point-user" id="hex-point-5"></div>
        <div class="hex point-number point-0" ng-bind="data.quick"></div>
        <div class="hex point-number point-1" ng-bind="data.flex"></div>
        <div class="hex point-number point-2" ng-bind="data.memory"></div>
        <div class="hex point-number point-3" ng-bind="data.focus"></div>
        <div class="hex point-number point-4" ng-bind="data.wit"></div>
        <div class="hex point-number point-5" ng-bind="data.fire"></div>
        <div class="hex line line-1"></div>
        <div class="hex line line-2"></div>
        <div class="hex line line-3"></div>
        <div class="hex hex-gap hex-gap-2">
            <div class="corner corner-1"></div>
            <div class="corner corner-2"></div>
            <div class="corner corner-3"></div>
        </div>
        <div class="hex hex-gap hex-gap-3">
            <div class="corner corner-1"></div>
            <div class="corner corner-2"></div>
            <div class="corner corner-3"></div>
        </div>
        <div class="hex-icon ion-ios-bolt">
            <md-tooltip md-direction="bottom">
                Nhanh nhạy
            </md-tooltip>
        </div>

        <div class="hex-icon ion-ios-infinite">
            <md-tooltip md-direction="bottom">
                Linh hoạt
            </md-tooltip>
        </div>
        <div class="hex-icon ion-ios-lightbulb">
            <md-tooltip md-direction="bottom">
                Trí nhớ
            </md-tooltip>
        </div>
        <div class="hex-icon ion-ios-eye">
            <md-tooltip md-direction="bottom">
                Tập trung
            </md-tooltip>
        </div>
        <div class="hex-icon ion-ios-cog">
            <md-tooltip md-direction="bottom">
                Thông thái
            </md-tooltip>
        </div>
        <div class="hex-icon ion-ios-flame">
            <md-tooltip md-direction="bottom">
                Nhiệt huyết
            </md-tooltip>
        </div>
        <div class="bottom-stat stat-left">
            <i class="ion-play"> <md-tooltip>Đã chơi</md-tooltip></i> <b>{{data.games}}</b> games
        </div>
        <div class="bottom-stat stat-right">
            <i class="ion-android-time"><md-tooltip>Online</md-tooltip></i> <span ng-bind="data.active | timeAgo"></span>
        </div>
        <div class="top-stat" ng-if="data.rank"><span><i class="ion-trophy"><md-tooltip>Xếp hạng</md-tooltip></i>{{data.rank}}</span></div>
        <div class="rate-stat stat-right" ng-if="data.win || data.lose"><span><i class="ion-ribbon-a"><md-tooltip>Tỉ lệ thắng</md-tooltip></i> {{data.win/(data.win+data.lose)*100}}%</span></div>
    </div>
    <!--<md-card-actions layout="row" layout-align="center center">-->
        <!--<md-button class="md-raised md-primary">Thách đấu</md-button>-->
        <!--<md-button  class="md-raised md-primary">+ Kết bạn</md-button>-->
    <!--</md-card-actions>-->
    <md-card-content ng-class="{'faded': faded}">
        </div>
        <div layout="row" ng-if="checkUser() == 2">
            <md-button ng-show="data.isFriend" ng-click="unfollow({callback: updateFriendList({bool:false, input:data})})" style="width: 100%" class="md-raised md-accent"><i class="ion-android-done"></i> Bạn bè</md-button>
            <md-button ng-show="!data.isFriend" ng-click="follow({callback: updateFriendList({bool:true, input:data})})" style="width: 100%" class="md-raised md-primary"><i class="ion-android-add"></i> Thêm bạn</md-button>
        </div>
    </md-card-content>

</md-card>
