<md-toolbar color="primary">
  <button md-button [routerLink]="['']">
    <img   src="img/logofunstart.svg" class="ng-scope">
    </button>
  <button md-button [md-menu-trigger-for]="topic">
     Topic
    </button>
  <button md-button [md-menu-trigger-for]="discover">
     Discover
    </button>
  <app-autocomplete></app-autocomplete>
</md-toolbar>

<md-menu x-position="after" y-position="below" #topic="mdMenu">
  <button md-menu-item *ngFor="let topic of topics" [routerLink]="['/topic', topic._id]"><i class="icon {{topic.icon}}"></i> {{topic.name}}</button>
</md-menu>

<md-menu x-position="after" y-position="below" #discover="mdMenu">
  <button md-menu-item *ngFor="let game of games" [routerLink]="['/game', game._id]">
  <img src="{{game.thumb}}" alt="{{game.title}}" width="40" height="40">
  {{game.title}}
  </button>
</md-menu>