.group-game-index {
    padding: 10px;
}

.game-card{
    width: 100%;
}

.seperator{
    clear:both;
    color: #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
    // padding: 10px 0px;
    margin: 20px 0px;
}