<div [hidden]="!visible">
    <!--<button (click)="getScreenShotData()">takeScreenShotData</button>-->
    <!--BUTTON FOR TEST, DO NOT DELETE-->
    <!--<button (click)="preload()">Preload</button>
     <button (click)="boot()">Boot</button>
    <button (click)="menu()">Menu</button>
    <button (click)="game()">Game</button>
    <button (click)="help()">Help</button>
    <button (click)="credit()">Credit</button>
    <button (click)="resume()">Resume</button>
    <button (click)="pause()">Pause</button>-->
    <iframe tabindex=1 id="iframe-game" width="100%" height="100%" [src]="this.src | safe" (load)="onLoad()"></iframe>
</div>