<div class="wrapper">
    <!--<div class="header">-->
        <!--<div id="feature-game" class="">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-6 col-md-6">-->
                        <!--<div class="feature-image">-->
                            <!--<a href="topic.html" target="_blank">-->
                                <!--<img class="" src="assets/img/thumb/10_thumb.svg" alt="Feature Game">-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-6 col-md-5 col-md-offset-1">-->
                        <!--<div class="action-area">-->
                            <!--<div class="text-left">-->
                                <!--<h1 class="feature-name">Test IQ</h1>-->
                                <!--<h6 class="tagline">-->
                                    <!--Test IQ nhanh qua 11 câu hỏi.-->
                                <!--</h6>-->
                                <!--<p>-->
                                    <!--Qui esse ex proident laborum quis cillum nostrud dolor tempor minim dolore do ut esse.-->
                                <!--</p>-->
                                <!--<button class="btn btn-primary btn-lg"> <i class="material-icons">flash_on</i> PLAY NOW</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
    <div class="main game-list">
        <div class="container">
            <!-- here you can add your content -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let game of gamesCollection" >
                    <app-game-card-vertical [game]="game"></app-game-card-vertical>
                </div>

            </div>
        </div>
    </div>
</div>
<!--<div class="seperator"></div>-->