<form #userForm="ngForm" (ngSubmit)="register()">
    <div class="content">
        <!--EMAIL-->
        <div class="input-group">
            <span class="input-group-addon">
                <i class="ion-at"></i>
            </span>
            <div class="form-group label-floating is-empty">
                <input type="text" class="form-control" required focused [(ngModel)]="user.email" id="email" name="email" #email="ngModel"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"><span class="material-input"></span>
                <label class="control-label" for="email">Email</label>
            </div>
        </div>
        <!--<div [hidden]="email.valid || email.pristine" class="alert">Email not correct</div>-->
        
        <div [hidden]="email.valid || email.untouched">
            <div *ngIf="email.errors && email.errors.required">
                Email is required
            </div>
            <div *ngIf="email.errors && email.errors.pattern">
                Email is invalid
            </div>
        </div>
        <div *ngIf="error.email" class="alert">{{error.email}}</div>

        <!--USERNAME-->
        <div class="input-group">
            <span class="input-group-addon">
            <i class="ion-person"></i>
        </span>
            <div class="form-group label-floating is-empty">
                <input type="text" class="form-control" required [(ngModel)]="user.username" name="username" #username="ngModel" id="username">
                <span class="material-input"></span>
                <label class="control-label" for="username">Username</label>
            </div>
        </div>
        <div [hidden]="username.valid || username.pristine" class="alert">Username not correct</div>

        <!--PASSWORD-->
        <div class="input-group">
            <span class="input-group-addon">
            <i class="ion-locked"></i>
        </span>
            <div class="form-group label-floating is-empty">
                <input type="password" class="form-control" required [(ngModel)]="user.password" name="password" #password="ngModel" id="password">
                <span class="material-input"></span>
                <label class="control-label" for="password">Password</label>
            </div>
        </div>
        <div [hidden]="password.valid || password.pristine" class="alert">Password not correct</div>
    </div>
    <div class="footer text-center">
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary">Register</button>
    </div>
</form>