<form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <div class="content">

        <div class="input-group">
            <span class="input-group-addon">
                <i class="ion-at"></i>
            </span>
            <div class="form-group label-floating is-empty">
                <input required type="text" class="form-control" formControlName="email"><span class="material-input"></span>
                <label class="control-label" for="email">Email</label>
            </div>
        </div>
        <div [hidden]="registerForm.get('email').untouched &&  registerForm.get('email').hasError('required')">
            <div class="error" *ngIf="registerForm.get('email').untouched && registerForm.get('email').hasError('required')">
                * Email is required!
            </div>
            <div class="error" *ngIf="registerForm.get('email').untouched && registerForm.get('email').hasError('pattern')">
                * Invalid email!
            </div>

            <div [hidden]="registerForm.get('email').valid || registerForm.get('email').untouched">
                <div *ngIf="registerForm.get('email').hasError('required')">
                    * Email is required!x
                </div>
                <div *ngIf="registerForm.get('email').hasError('pattern')">
                    * Invalid email!x
                </div>
            </div>
        </div>

        <div *ngIf="error.email" class="alert">{{error.email}}</div>




        <div class="input-group">
            <span class="input-group-addon">
            <i class="ion-person"></i>
        </span>
            <div class="form-group label-floating is-empty">
                <input required type="text" class="form-control" formControlName="username">
                <span class="material-input"></span>
                <label class="control-label" for="username">Username</label>
            </div>
        </div>
        <div [hidden]="registerForm.get('username').untouched &&  registerForm.get('username').hasError('required')">
            <div class="error" *ngIf="registerForm.get('username').untouched && registerForm.get('username').hasError('required')">
                * Username is required!
            </div>
            <div class="error" *ngIf="registerForm.get('username').untouched && registerForm.get('username').hasError('pattern')">
                * Invalid username!
            </div>
            <div class="error" *ngIf="registerForm.get('username').untouched && registerForm.get('username').hasError('minlength') && !registerForm.get('username').hasError('pattern')">
                * Username must be at least 3 character!
            </div>
            <div class="error" *ngIf="registerForm.get('username').untouched && registerForm.get('username').hasError('maxlength')">
                * Username must not be more than 15 character!
            </div>

            <div [hidden]="registerForm.get('username').valid || registerForm.get('username').untouched">
                <div *ngIf="registerForm.get('username').hasError('required')">
                    * Username is required!
                </div>
                <div *ngIf="registerForm.get('username').hasError('pattern')">
                    * Invalid username!
                </div>
                <div *ngIf="registerForm.get('username').hasError('minlength')">
                    * Username must be at least 3 character!
                </div>
                <div *ngIf="registerForm.get('username').hasError('maxlength')">
                    * Username must not be more than 15 character!
                </div>
            </div>
        </div>



        <div class="input-group">
            <span class="input-group-addon">
            <i class="ion-locked"></i>
        </span>
            <div class="form-group label-floating is-empty">
                <input required type="password" class="form-control" formControlName="password">
                <span class="material-input"></span>
                <label class="control-label" for="password">Password</label>
            </div>
        </div>
        <div [hidden]="registerForm.get('password').untouched &&  registerForm.get('password').hasError('required')">
            <div class="error" *ngIf="registerForm.get('password').untouched && registerForm.get('password').hasError('required')">
                * Password is required!
            </div>
            <div class="error" *ngIf="registerForm.get('password').untouched && registerForm.get('password').hasError('pattern')">
                * Invalid password!
            </div>
            <div class="error" *ngIf="registerForm.get('password').untouched && registerForm.get('password').hasError('minlength')">
                * Password must be at least 6 character!
            </div>
            <div [hidden]="registerForm.get('password').valid || registerForm.get('password').untouched">
                <div *ngIf="registerForm.get('password').hasError('required')">
                    * Password is required!
                </div>
                <div *ngIf="registerForm.get('password').hasError('pattern')">
                    * Invalid password!
                </div>
                <div *ngIf="registerForm.get('password').hasError('minlength')">
                    * Password must be at least 6 character!
                </div>
            </div>
        </div>

    </div>
    <div class="footer text-center">
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Register</button>
    </div>
</form>