<div class="wrapper">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="game-frame">
            <!--<app-game-card [game]="game"></app-game-card>-->
                <app-game-intro  (playGame)="handlePlayGame($event)"></app-game-intro>
                <app-iframe-game [hidden]="game==undefined" (updateResult)="handleUpdateResult($event)" (_preloadDone)="handleGamePreloadDone()"></app-iframe-game>
                <app-game-share class="ads-frame"  (continueGame)="handleContinueGame($event)"></app-game-share>
                <app-iframe-ads (closeAds)="handleCloseAds($event)"></app-iframe-ads>
            </div>
            <div class="devider"></div>
            <div class="row">
                <div class="col-md-4">
                    <app-game-recommend-bottom></app-game-recommend-bottom>
                </div>
                <div *ngIf="facebookCommentShowed" class="col-md-8">
                    <h4 class="section-heading">Facebook Comments</h4>
                    <app-facebook-comment ></app-facebook-comment>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="action-area">

            </div>
            <app-users-ranked-sidebar ></app-users-ranked-sidebar>
            <app-game-recommend-right></app-game-recommend-right>
        </div>
    </div>
</div>