<div class="wrapper">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="game-frame">
            <!--<app-game-card [game]="game"></app-game-card>-->
                <app-game-intro *ngIf="game" [game]="game" (playGame)="handlePlayGame($event)"></app-game-intro>
                <app-iframe-game *ngIf="game" [_game]="game" (updateResult)="handleUpdateResult($event)"></app-iframe-game>
                <app-iframe-ads  (closeAds)="handleCloseAds($event)"></app-iframe-ads>
                <app-game-share class="ads-frame" *ngIf="game" [game]="game" (continueGame)="handleContinueGame($event)"></app-game-share>
            </div>
            <div class="devider"></div>
            <div class="row">
                <div class="col-md-4">
                    <app-game-recommend-bottom></app-game-recommend-bottom>
                </div>
                <div class="col-md-8">
                    <h4 class="section-heading">Facebook Comments</h4>
                    <div class="fb-comments">
                        <img class="img img-responsive" src="assets/img/fb_chat_mockup.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="action-area">

            </div>
            <div class="ranking-area">
                <div class="card">
                    <div class="card-header card-header-icon card-header-game" data-background-color="orange">
                        <i class="ion-flag"></i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Top Players</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <tr>
                                    <th>Rank</th>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td>
                                        <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                                        <span class="rank-name">Niger</span>
                                    </td>
                                    <td class="text-primary">36,738</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td>
                                        <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                                        <span class="rank-name">Niger</span>
                                    </td>
                                    <td class="text-primary">23,789</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td>
                                        <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                                        <span class="rank-name">Niger</span>
                                    </td>
                                    <td class="text-primary">56,142</td>
                                </tr>
                                <tr>
                                    <td>--</td>
                                    <td>---</td>
                                    <td class="text-primary">---</td>
                                </tr>
                                <tr class="danger">
                                    <td>#45</td>
                                    <td>
                                        <img src="assets/img/tony.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                                        <span class="rank-name">Tony Tin Nguyen</span>
                                    </td>
                                    <td class="text-primary">78,615</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <app-game-recommend-right></app-game-recommend-right>
        </div>
    </div>
</div>