@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700"');

html{
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}
a{
  cursor: pointer;
}
.layout-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;  
    flex-direction: row;
}

.layout-padding{
  padding: 10px;
}

.block{
  display: block;  
}

.rd{
    color: #ec1616;
}
.ml17{
 margin-left: 17px;
}
