

html{
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.layout-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.layout-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;  
    flex-direction: row;
}

.layout-padding{
  padding: 10px;
}

.block{
  display: block;  
}