<md-card class="game-card-item" style="height: 100%;" layout-fill>
  <md-card-header>    
    <md-card-title>{{game.title}}</md-card-title>
    <md-card-subtitle>{{game.topic.name}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image class="game-thumb" src="{{game.thumb}}" width=100 height=100 alt="game.title" [routerLink]="['/game', game._id]">
  <md-card-content style="height:100%;">
    <p class="game-desc">
      {{game.des}}
    </p>
    <div class="game-play-no">
        <i class="icon ion-ios-infinite-outline"></i> {{game.plays}}
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button> <i class="icon ion-play"></i>  PLAY</button>
  </md-card-actions>
</md-card>
