<md-card >
    <md-content class="scrollable" ng-class="{'chat-all-index': type == 0, 'chat-all-game': type == 1}" id="scroll-bottom-1">
        <div layout="row" style="width: 100%;background: #e4e4e4;padding: 5px" layout-align="center end" >Tip: Bấm vào tên người chơi để kết bạn</div>
        <message-panel ng-repeat="item in $root.messages" item="item"></message-panel>
        <div layout="row" style="width: 100%;height: 100%;color: #9e9e9e" layout-align="center center" ng-if="!$root.messages.length">Chưa có tin nhắn nào</div>

    </md-content>
    <div ng-if="$root.user">
        <form name="messageForm" ng-submit="$root.onSendMessage()">
            <md-content layout="row">
                <md-input-container flex style="margin: 0;padding: 8px" md-no-float layout="row">
                    <input ng-model="$root.chat.message" maxlength="256" type="text" placeholder="Chat ở đây ..." >
                </md-input-container>
                <md-button ng-disabled="!$root.chat.message" type="submit" class="md-fab md-mini md-accent" aria-label="More">
                    <i class="ion-android-send"></i>
                </md-button>
            </md-content>
        </form>
    </div>
</md-card>