<md-list-item>
    <md-button aria-label="step1" style="min-width: 40px; margin-right: 5px;background-color: rgb(43, 46, 123);color: rgba(255,255,255,1)!important;" ng-disabled="true" class="md-fab md-mini md-primary">1</md-button>
    Mời bạn bè vào phòng bằng cách gửi link hoặc chuyển qua tab mời bạn
</md-list-item>
<md-list-item>
    <md-button aria-label="step2" style="min-width: 40px; margin-right: 5px;background-color: rgb(43, 46, 123);color: rgba(255,255,255,1)!important;" ng-disabled="true" class="md-fab md-mini md-primary">2</md-button>
    Những người đồng ý tham gia sẽ được thêm vào list thành viên trong phòng
</md-list-item>
<md-list-item>
    <md-button aria-label="step3" style="min-width: 40px; margin-right: 5px;background-color: rgb(43, 46, 123);color: rgba(255,255,255,1)!important;" ng-disabled="true" class="md-fab md-mini md-primary">3</md-button>
    Nếu là host, chờ tất cả các người chơi hiện trạng thái sẵn sàng rồi bấm bắt đầu
</md-list-item>
<md-list-item>
    <h4>Trạng thái:</h4>
</md-list-item>
<md-list-item>
    <md-button aria-label="isready" style="margin-right: 5px;background-color: rgb(241,112,47)" ng-disabled="true" class="md-fab md-mini md-accent">R</md-button>
    Đã sẵn sàng
</md-list-item>
<md-list-item>
    <md-button aria-label="addfriend" style="margin-right: 5px;" class="md-fab md-mini md-primary"><i class="ion-person-add"></i></md-button>
    Thêm bạn
</md-list-item>
<md-list-item>
    <md-button aria-label="isfriend" style="margin-right: 5px;" class="md-fab md-mini md-accent"><i class="ion-person-stalker"></i></md-button>
    Đã là bạn bè
</md-list-item>
<md-list-item>
    <md-button aria-label="kick" class="md-icon-button"><i class="ion-close-circled"></i></md-button>
    Kick khỏi room
</md-list-item>