<div class="ranking-area">
  <div class="card">
    <div class="card-header card-header-icon card-header-game" data-background-color="orange">
      <i class="ion-flag"></i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Top Players</h4>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody *ngIf="rankedUsers">
            <tr *ngFor="let i of [0, 1, 2]" [ngClass]="{danger: rankedUsers[i].isCurrentUser}">
              <td>#{{i + 1}}</td>
              <td >
                <img [src]="rankedUsers[i].avatar" alt="rankedUsers[i].name" class="img-circle img-raised avatar">
                <span class="rank-name">{{rankedUsers[i].name}}</span>
              </td>
              <td class="text-primary">{{rankedUsers[i].score}}</td>
            </tr>

            <tr *ngIf="rankedUsers[3]">
              <td>--</td>
              <td>---</td>
              <td class="text-primary">---</td>
            </tr>
            <tr class="danger" *ngIf="rankedUsers[3]">
              <td>#{{rankedUsers[3].rank}}</td>
              <td>
                <img [src]="rankedUsers[3].avatar" alt="rankedUsers[3].name" class="img-circle img-raised avatar">
                <span class="rank-name">{{rankedUsers[3].name}}</span>
              </td>
              <td class="text-primary">{{rankedUsers[3].score}}</td>
            </tr>
            <tr>
              <!--<td>#1</td>
              <td>
                <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                <span class="rank-name">Niger</span>
              </td>
              <td class="text-primary">36,738</td>
            </tr>
            <tr>
              <td>#2</td>
              <td>
                <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                <span class="rank-name">Niger</span>
              </td>
              <td class="text-primary">23,789</td>
            </tr>
            <tr>
              <td>#3</td>
              <td>
                <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                <span class="rank-name">Niger</span>
              </td>
              <td class="text-primary">56,142</td>
            </tr>
            <tr>
              <td>--</td>
              <td>---</td>
              <td class="text-primary">---</td>
            </tr>
            <tr class="danger">
              <td>#45</td>
              <td>
                <img src="assets/img/tony.jpg" alt="Thumbnail Image" class="img-circle img-raised avatar">
                <span class="rank-name">Tony Tin Nguyen</span>
              </td>
              <td class="text-primary">78,615</td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>