
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="UTF-8"/>
    <base href="/">
    <title><%= title %></title>
    <meta name="viewport" content="device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/libs/ng-img-crop/compile/minified/ng-img-crop.css">
    <link rel='stylesheet' href='/libs/angular-material/angular-material.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'/>

</head>
<body>



<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/libs/angular/angular.js"></script>
<script type="text/javascript" src="/libs/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/libs/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="/libs/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="/libs/angular-material/angular-material.min.js"></script>

<!--Bootstrap AngularJS Application-->
<script type="text/javascript" src="/app/create.client.module.js"></script>
<script type="text/javascript" src="/app/auth.client.module.js"></script>
<script type="text/javascript" src="/app/configs/theme.client.config.js"></script>
<script type="text/javascript" src="/app/resources/auth.client.resource.js"></script>
<script type="text/javascript" src="/app/controllers/auth.client.controller.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-storage.js"></script>
<script>
    var config = {
        apiKey: "AIzaSyAaBZf4apOWGf5d3S_ZjDH8IPDmMAfv_lI",
        authDomain: "funstart-a3ab5.firebaseapp.com",
        databaseURL: "https://funstart-a3ab5.firebaseio.com",
        storageBucket: "funstart-a3ab5.appspot.com"
    };
    firebase.initializeApp(config);
</script>
<script>
    angular.element(document).ready(function() {
        angular.bootstrap(document, ['create']);
    });
</script>
</body>
</html>