
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <meta charset="UTF-8"/>
  <base href="/">
  <title>Abc</title>

  <meta name="viewport" content="device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

<script src="/js/socket.io.js"></script>
<script>
  var socket = io('http://www.funstart.net:8080');
  socket.on('connect',function(){
    socket.emit('user', 1);
  })
</script>
</body>
</html>