
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <meta charset="UTF-8"/>
  <base href="/">
  <title>Abc</title>

  <meta name="viewport" content="device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

<script src="/js/socket.io-1.4.5.js"></script>
<script>
  var socket = io.connect('http://0.0.0.0:8080');
</script>
</body>
</html>