<div class="search-panel">
    <div class="form-group">
        <input type="text" class="form-control" #input (click)="onInputClick()"[(ngModel)]=query (keyup)=filter() placeholder="{{ 'HOME.SEARCHGAME' | translate }}">
        <div class="search-btn-group">
            <button type="button" class="btn btn-fab btn-fab-mini btn-round btn-danger search-btn">
                <i class="ion-android-search"></i>
            </button>
        </div>
    </div>
    <div class="dropdown-search" *ngIf="filteredList.length > 0">
      <li *ngFor="let game of filteredList">
        <a (click)="select(game.title)" [routerLink]="['/game', game._id]" [queryParams]="{utm_campaign:'tracking',utm_source:'search',utm_medium:'anchor'}">
          <img src="{{game.thumb}}" alt="{{game.title}}" width="30" height="30"> {{game.title}}
        </a>
      </li>
    </div>
</div>